{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent()}}Opération
{% endblock %}

{% block stylesheet %}
    {{parent()}}
    {{ encore_entry_link_tags('tabs') }}
    <!-- <link rel="stylesheet" href="/build/tabs.css"> Autre façon d'appler le fichier css -->
{% endblock %}

{# {% block contentSearch %}
{% endblock %} #}

{% block h1 %}Opération{% endblock %}

{% block contentBody %}

        <div class="tab-panels">
                {{ form_start(form, {'method': 'POST'}, {'attr': {'novalidate': 'novalidate'}}) }}
                <div class="row">
                    <div class="col-lg-7 mx-auto">
                        <div class="row my-form-field">
                            <div class="col-lg-4 mx-auto">
                                {{ form_label(form.operationName, null, {'label_attr': {'class': 'my-form-label'}}) }}
                            </div>
                            <div class="col-lg-7 mx-auto">
                                {{ form_widget(form.operationName, {'attr': {'class': 'form-control my-form-input-little', 'placeholder': "Ex: 1254789"}}) }}

                                {{ form_errors(form.operationName, {'attr': {'class': 'form-error-message'}}) }}
                            </div>
                        </div>
                        <div class="row my-form-field">
                            <div class="col-lg-4 mx-auto">
                                {{ form_label(form.operationUrlPage, null, {'label_attr': {'class': 'my-form-label'}}) }}
                            </div>
                            <div class="col-lg-7 mx-auto">
                                {{ form_widget(form.operationUrlPage, {'attr': {'class': 'form-control my-form-input-little'}}) }}

                                {{ form_errors(form.operationUrlPage, {'attr': {'class': 'form-error-message'}}) }}
                            </div>
                        </div>
                        <div class="row my-form-field">
                            <div class="col-lg-4 mx-auto">
                                {{ form_label(form.operationHeadBandVisual, null, {'label_attr': {'class': 'my-form-label'}}) }}
                            </div>
                            <div class="col-lg-7 mx-auto">
                                {{ form_widget(form.operationHeadBandVisual, {'attr': {'class': 'form-control my-form-input-big'}}) }}

                                {{ form_errors(form.operationHeadBandVisual, {'attr': {'class': 'form-error-message'}}) }}
                            </div>
                        </div>
                        <div class="row my-form-field">
                            <div class="col-lg-4 mx-auto">
                                {{ form_label(form.operationLateralVisual, null, {'label_attr': {'class': 'my-form-label'}}) }}
                            </div>
                            <div class="col-lg-7 mx-auto">
                                {{ form_widget(form.operationLateralVisual, {'attr': {'class': 'form-control my-form-input-big'}}) }}

                                {{ form_errors(form.operationLateralVisual, {'attr': {'class': 'form-error-message'}}) }}
                            </div>
                        </div>
                        <div class="row my-form-field">
                            <div class="col-lg-4 mx-auto">
                                {{ form_label(form.operationDisplayed, null, {'label_attr': {'class': 'my-form-label'}}) }}
                            </div>
                            <div class="col-lg-7 mx-auto">
                                {{ form_widget(form.operationDisplayed, {'attr': {'class': 'form-control my-form-input-big'}}) }}

                                {{ form_errors(form.operationDisplayed, {'attr': {'class': 'form-error-message'}}) }}
                            </div>
                        </div>
                        <div class="row my-form-field">
                            <div class="col-lg-4 mx-auto">
                                {{ form_label(form.operationModified, null, {'label_attr': {'class': 'my-form-label'}}) }}
                            </div>
                            <div class="col-lg-7 mx-auto">
                                {{ form_widget(form.operationModified, {'attr': {'class': 'form-control my-form-input-big'}}) }}

                                {{ form_errors(form.operationModified, {'attr': {'class': 'form-error-message'}}) }}
                            </div>
                        </div>
                        <div class="row my-form-field">
                            <div class="col-lg-4 mx-auto">
                                {{ form_label(form.operationBinding, null, {'label_attr': {'class': 'my-form-label'}}) }}
                            </div>
                            <div class="col-lg-7 mx-auto">
                                {{ form_widget(form.operationBinding, {'attr': {'class': 'form-control my-form-input-big'}}) }}

                                {{ form_errors(form.operationBinding, {'attr': {'class': 'form-error-message'}}) }}
                            </div>
                        </div>
                    </div>
                </div>

                {{ form_widget(form.save, {'attr': {'class': 'btn submit-button'}}) }}
                {{ form_end(form) }}
            </section>
        </div>
    </div>

{% endblock %}

