{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent()}}Opération
{% endblock %}

{% block stylesheet %}
    {{parent()}}
    {{ encore_entry_link_tags('tabs') }}
    <!-- <link rel="stylesheet" href="/build/tabs.css"> Autre façon d'appler le fichier css -->
{% endblock %}

{# {% block contentSearch %}
{% endblock %} #}

{% block h1 %}Opération{% endblock %}

{% block contentBody %}

<section>
    <h5>Saisie d'une nouvelle opération</h5>
</section>
<div class="tabset">
    <!-- Tab 1 -->
    <input type="radio" name="tabset" id="tab1" aria-controls="identity" checked>
    <label for="tab1">Informations</label>

    <div class="tab-panels">
        <section id="identity" class="tab-panel">
            {{ form_start(form, {'method': 'POST'}, {'attr': {'novalidate': 'novalidate'}}) }}
                <div class="row">
                    <div class="col-lg-7 mx-auto">
                        <div class="row my-form-field {% if form.operationCode.vars.errors|length %}my-form-error-container{% endif %}">
                            <div class="col-lg-4 mx-auto">
                                {{ form_label(form.operationCode, null, {'label_attr': {'class': 'my-form-label'}}) }}
                            </div>
                            <div class="col-lg-7 mx-auto mandatory">
                                {{ form_widget(form.operationCode, {'attr': {'class': 'form-control my-form-input-little'}}) }}
                            </div>
                            {% if form.operationCode.vars.errors|length %}
                            <div class="alert alert-danger my-form-error">
                                {{ form_errors(form.operationCode, {'attr': {'class': 'list-unstyled mb-0'}}) }}
                            </div>
                            {% endif %}
                        </div>
                        <div class="row my-form-field {% if form.operationName.vars.errors|length %}my-form-error-container{% endif %}">
                            <div class="col-lg-4 mx-auto">
                                {{ form_label(form.operationName, null, {'label_attr': {'class': 'my-form-label'}}) }}
                            </div>
                            <div class="col-lg-7 mx-auto mandatory">
                                {{ form_widget(form.operationName, {'attr': {'class': 'form-control my-form-input-big'}}) }}
                            </div>
                            {% if form.operationName.vars.errors|length %}
                            <div class="alert alert-danger my-form-error">
                                {{ form_errors(form.operationName, {'attr': {'class': 'list-unstyled mb-0'}}) }}
                            </div>
                            {% endif %}
                        </div>
                        <div class="row my-form-field {% if form.emailSubject.vars.errors|length %}my-form-error-container{% endif %}">
                            <div class="col-lg-4 mx-auto">
                                {{ form_label(form.emailSubject, null, {'label_attr': {'class': 'my-form-label'}}) }}
                            </div>
                            <div class="col-lg-7 mx-auto">
                                {{ form_widget(form.emailSubject, {'attr': {'class': 'form-control my-form-input-big'}}) }}
                            </div>
                            {% if form.emailSubject.vars.errors|length %}
                            <div class="alert alert-danger my-form-error">
                                {{ form_errors(form.emailSubject, {'attr': {'class': 'list-unstyled mb-0'}}) }}
                            </div>
                            {% endif %}
                        </div>
                        <div class="row my-form-field {% if form.nbAutoRelaunching.vars.errors|length %}my-form-error-container{% endif %}">
                            <div class="col-lg-4 mx-auto">
                                {{ form_label(form.nbAutoRelaunching, null, {'label_attr': {'class': 'my-form-label'}}) }}
                            </div>
                            <div class="col-lg-7 mx-auto">
                                {{ form_widget(form.nbAutoRelaunching, {'attr': {'class': 'form-control my-form-input-tiny'}}) }}
                            </div>
                            {% if form.nbAutoRelaunching.vars.errors|length %}
                            <div class="alert alert-danger my-form-error">
                                {{ form_errors(form.nbAutoRelaunching, {'attr': {'class': 'list-unstyled mb-0'}}) }}
                            </div>
                            {% endif %}
                        </div>
                        <div class="row my-form-field">
                            <div class="col-lg-4 mx-auto">
                                {{ form_label(form.sendingDate, null, {'label_attr': {'class': 'my-form-label'}}) }}
                            </div>
                            <div class="col-lg-7 mx-auto">
                                <div class="form-group">
                                    <div class='input-group date'>
                                        {{ form_widget(form.sendingDate, {'attr': {'class': 'my-form-input-tiny'}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row my-form-field">
                            <div class="col-lg-4 mx-auto">
                                {{ form_label(form.closingDate, null, {'label_attr': {'class': 'my-form-label'}}) }}
                            </div>
                            <div class="col-lg-7 mx-auto">
                                <div class="form-group">
                                    <div class='input-group date'>
                                        {{ form_widget(form.closingDate, {'attr': {'class': 'my-form-input-tiny'}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row my-form-field">
                            <div class="col-lg-4 mx-auto">
                                {{ form_label(form.infos, null, {'label_attr': {'class': 'my-form-label'}}) }}
                            </div>
                            <div class="col-lg-7 mx-auto">
                                {{ form_widget(form.infos, {'attr': {'class': 'form-control my-form-input-big'}}) }}
                            </div>
                        </div>
                        <div class="row my-form-field">
                            <div class="col-lg-4 mx-auto">
                                {{ form_label(form.commercialOffer, null, {'label_attr': {'class': 'my-form-label'}}) }}
                            </div>
                            <div class="col-lg-7 mx-auto">
                                {{ form_widget(form.commercialOffer, {'attr': {'class': 'form-control my-form-input-big'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 mx-auto">
                        <div class="row my-form-field">
                            <div class="col-lg-5 mx-auto">
                                <label class="my-form-label" for="author">Auteur</label>
                            </div>
                            <div class="col-lg-7 mx-auto">
                                <select id="author" name="author" class="form-control my-form-input-big">
                                    <option value="{{app.user.Id}}">
                                        {{app.user.commercialFirstname}} {{app.user.commercialName|upper}}
                                    </option>
                                    {% for author in listCommercial %}
                                    <option value="{{author.Id}}">
                                        {{author.commercialFirstname}} {{author.commercialName|upper}}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row my-form-field my-form-input-fat-container {% if form.remarks.vars.errors|length > 0 %}my-form-error-container{% endif %}">
                            <div class="col-lg-5 mx-auto">
                                {{ form_label(form.remarks, null, {'label_attr': {'class': 'my-form-label'}}) }}
                            </div>
                            <div class="col-lg-7 mx-auto">
                                {{ form_widget(form.remarks, {'attr': {'class': 'form-control my-form-input-fat'}}) }}
                            </div>
                            {% if form.remarks.vars.errors|length > 0 %}
                            <div class="alert alert-danger my-form-error">
                                {{ form_errors(form.remarks, {'attr': {'class': 'list-unstyled mb-0'}}) }}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row form-buttons">
                    <button class="btn btn-white-red return-button" type="button">
                       <a href="{{ path('listOperation') }}">ANNULER</a>
                    </button>
                    {{ form_widget(form.save, { 'label': 'AJOUTER', 'attr': {'class': 'btn btn-red submit-button'}}) }}
                </div>
            {{ form_end(form) }}
        </section>
    </div>
</div>
{% endblock %}
