{{ form_start(operationSettingsForm) }}
    <div class="row">
        <div class="col-lg-6 mx-auto my-form-left-side">
            <div class="row my-form-field {% if operationSettingsForm.operationSettingsEmailObject.vars.errors|length %}my-form-error-container{% endif %}">
                <div class="col-lg-4 mx-auto">
                    {{ form_label(operationSettingsForm.operationSettingsEmailObject, null, {'label_attr': {'class': 'my-form-label'}}) }}
                </div>
                <div class="col-lg-7 mx-auto mandatory">
                    {{ form_widget(operationSettingsForm.operationSettingsEmailObject, {'attr': {'class': 'form-control my-form-input-big'}}) }}
                </div>
                {% if operationSettingsForm.operationSettingsEmailObject.vars.errors|length > 0 %}
                    <div class="col-lg-1 mx-auto pl-0">
                        <button type="button" style="padding: 3px 6px;" class="btn btn-danger rounded-circle" data-title="Erreur de saisie" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="top"
                                data-content="
                                {% for error in operationSettingsForm.operationSettingsEmailObject.vars.errors %}
                                    -{{ error.messagePluralization is null
                                    ? error.messageTemplate|trans(error.messageParameters, 'validators')
                                    : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
                                    }}
                                    <br>
                                {% endfor %}
                                ">
                            <i class="fas fa-exclamation-circle"></i>
                        </button>
                    </div>
                {% else %}
                    <div class="col-lg-1 mx-auto pl-0"></div>
                {% endif %}
            </div>
            <div class="row my-form-field operation-visual-container">
                <div class="col-lg-4 mx-auto">
                    {{ form_label(operationSettingsForm.operationSettingsEmailVisual, null, {'label_attr': {'class': 'my-form-label'}}) }}
                </div>
                <div class="col-lg-7 mx-auto visual-container">
                    <div class="file-field">
                        <div class="mb-4">
                            {% if operationSettings.OperationSettingsEmailVisual is not null %}
                                <img src="{{asset('build/images/' ~ operationSettings.OperationSettingsEmailVisual)}}" class="operation-visual-img" title="Visuel" alt="Visuel du email">
                            {% else %}
                                <div class="operation-visual-img"></div>
                            {% endif %}
                        </div>
                        <div>
                            <div class="btn btn-mdb-color btn-file float-left waves-effect waves-light">
                                <span><i class="fas fa-sync-alt"></i>PARCOURIR</span>
                                {{ form_widget(operationSettingsForm.operationSettingsEmailVisual, {'attr': {'class': 'form-control my-form-input-big'}}) }}
                            </div>
                        </div>
                    </div>
                </div>
                {% if operationSettingsForm.operationSettingsEmailVisual.vars.errors|length > 0 %}
                    <div class="col-lg-1 mx-auto pl-0">
                        <button type="button" style="padding: 3px 6px;" class="btn btn-danger rounded-circle" data-title="Erreur de saisie" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="top"
                                data-content="
                                {% for error in operationSettingsForm.operationSettingsEmailVisual.vars.errors %}
                                    -{{ error.messagePluralization is null
                                    ? error.messageTemplate|trans(error.messageParameters, 'validators')
                                    : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
                                    }}
                                    <br>
                                {% endfor %}
                                ">
                            <i class="fas fa-exclamation-circle"></i>
                        </button>
                    </div>
                {% else %}
                    <div class="col-lg-1 mx-auto pl-0"></div>
                {% endif %}
            </div>
            <div class="row my-form-field my-form-input-fat-container">
                <div class="col-lg-4 mx-auto">
                    {{ form_label(operationSettingsForm.operationSettingsEmailText, null, {'label_attr': {'class': 'my-form-label'}}) }}
                </div>
                <div class="col-lg-7 mx-auto mandatory">
                    {{ form_widget(operationSettingsForm.operationSettingsEmailText, {'attr': {'class': 'form-control my-form-input-fat'}}) }}
                </div>
                {% if operationSettingsForm.operationSettingsEmailText.vars.errors|length > 0 %}
                    <div class="col-lg-1 mx-auto pl-0">
                        <button type="button" style="padding: 3px 6px;" class="btn btn-danger rounded-circle" data-title="Erreur de saisie" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="top"
                                data-content="
                                {% for error in operationSettingsForm.operationSettingsEmailText.vars.errors %}
                                    -{{ error.messagePluralization is null
                                    ? error.messageTemplate|trans(error.messageParameters, 'validators')
                                    : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
                                    }}
                                    <br>
                                {% endfor %}
                                ">
                            <i class="fas fa-exclamation-circle"></i>
                        </button>
                    </div>
                {% else %}
                    <div class="col-lg-1 mx-auto pl-0"></div>
                {% endif %}
            </div>
            <div class="row my-form-field">
                <div class="col-lg-4 mx-auto">
                    {{ form_label(operationSettingsForm.operationSettingsEmailLabelBtn, null, {'label_attr': {'class': 'my-form-label'}}) }}
                </div>
                <div class="col-lg-7 mx-auto">
                    {{ form_widget(operationSettingsForm.operationSettingsEmailLabelBtn, {'attr': {'class': 'form-control my-form-input-big'}}) }}
                </div>
                {% if operationSettingsForm.operationSettingsEmailLabelBtn.vars.errors|length > 0 %}
                    <div class="col-lg-1 mx-auto pl-0">
                        <button type="button" style="padding: 3px 6px;" class="btn btn-danger rounded-circle" data-title="Erreur de saisie" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="top"
                                data-content="
                                {% for error in operationSettingsForm.operationSettingsEmailLabelBtn.vars.errors %}
                                    -{{ error.messagePluralization is null
                                    ? error.messageTemplate|trans(error.messageParameters, 'validators')
                                    : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
                                    }}
                                    <br>
                                {% endfor %}
                                ">
                            <i class="fas fa-exclamation-circle"></i>
                        </button>
                    </div>
                {% else %}
                    <div class="col-lg-1 mx-auto pl-0"></div>
                {% endif %}
            </div>
        </div>
        <div class="col-lg-6 mx-auto my-form-right-side">
            <div class="row my-form-field">
                <div class="col-lg-4 mx-auto">
                    {{ form_label(operationSettingsForm.operationSettingsTitlePage, null, {'label_attr': {'class': 'my-form-label'}}) }}
                </div>
                <div class="col-lg-7 mx-auto mandatory">
                    {{ form_widget(operationSettingsForm.operationSettingsTitlePage, {'attr': {'class': 'form-control my-form-input-big'}}) }}
                </div>
                {% if operationSettingsForm.operationSettingsTitlePage.vars.errors|length > 0 %}
                    <div class="col-lg-1 mx-auto pl-0">
                        <button type="button" style="padding: 3px 6px;" class="btn btn-danger rounded-circle" data-title="Erreur de saisie" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="top"
                                data-content="
                                {% for error in operationSettingsForm.operationSettingsTitlePage.vars.errors %}
                                    -{{ error.messagePluralization is null
                                    ? error.messageTemplate|trans(error.messageParameters, 'validators')
                                    : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
                                    }}
                                    <br>
                                {% endfor %}
                                ">
                            <i class="fas fa-exclamation-circle"></i>
                        </button>
                    </div>
                {% else %}
                    <div class="col-lg-1 mx-auto pl-0"></div>
                {% endif %}
            </div>
            <div class="row my-form-field operation-visual-container">
                <div class="col-lg-4 mx-auto">
                    {{ form_label(operationSettingsForm.operationSettingsVisualPage, null, {'label_attr': {'class': 'my-form-label'}}) }}
                </div>
                <div class="col-lg-7 mx-auto visual-container">
                    <div class="file-field">
                        <div class="mb-4">
                            {% if operationSettings.operationSettingsVisualPage is not null %}
                                <img src="{{asset('build/images/' ~ operationSettings.operationSettingsVisualPage)}}" class="operation-visual-img" title="Visuel" alt="Visuel de la page">
                            {% else %}
                                <div class="operation-visual-img"></div>
                            {% endif %}
                        </div>
                        <div>
                            <div class="btn btn-mdb-color btn-file float-left waves-effect waves-light">
                                <span><i class="fas fa-sync-alt"></i>PARCOURIR</span>
                                {{ form_widget(operationSettingsForm.operationSettingsVisualPage, {'attr': {'class': 'form-control my-form-input-big'}}) }}
                            </div>
                        </div>
                    </div>
                </div>
                {% if operationSettingsForm.operationSettingsVisualPage.vars.errors|length > 0 %}
                    <div class="col-lg-1 mx-auto pl-0">
                        <button type="button" style="padding: 3px 6px;" class="btn btn-danger rounded-circle" data-title="Erreur de saisie" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="top"
                                data-content="
                                {% for error in operationSettingsForm.operationSettingsVisualPage.vars.errors %}
                                    -{{ error.messagePluralization is null
                                    ? error.messageTemplate|trans(error.messageParameters, 'validators')
                                    : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
                                    }}
                                    <br>
                                {% endfor %}
                                ">
                            <i class="fas fa-exclamation-circle"></i>
                        </button>
                    </div>
                {% else %}
                    <div class="col-lg-1 mx-auto pl-0"></div>
                {% endif %}
            </div>
            <div class="row my-form-field">
                <div class="col-lg-4 mx-auto">
                    {{ form_label(operationSettingsForm.operationSettingsIntroductionTitle, null, {'label_attr': {'class': 'my-form-label'}}) }}
                </div>
                <div class="col-lg-7 mx-auto mandatory">
                    {{ form_widget(operationSettingsForm.operationSettingsIntroductionTitle, {'attr': {'class': 'form-control my-form-input-big'}}) }}
                </div>
                {% if operationSettingsForm.operationSettingsIntroductionTitle.vars.errors|length > 0 %}
                    <div class="col-lg-1 mx-auto pl-0">
                        <button type="button" style="padding: 3px 6px;" class="btn btn-danger rounded-circle" data-title="Erreur de saisie" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="top"
                                data-content="
                                {% for error in operationSettingsForm.operationSettingsIntroductionTitle.vars.errors %}
                                    -{{ error.messagePluralization is null
                                    ? error.messageTemplate|trans(error.messageParameters, 'validators')
                                    : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
                                    }}
                                    <br>
                                {% endfor %}
                                ">
                            <i class="fas fa-exclamation-circle"></i>
                        </button>
                    </div>
                {% else %}
                    <div class="col-lg-1 mx-auto pl-0"></div>
                {% endif %}
            </div>
            <div class="row my-form-field my-form-input-fat-container">
                <div class="col-lg-4 mx-auto">
                    {{ form_label(operationSettingsForm.operationSettingsIntroductionText, null, {'label_attr': {'class': 'my-form-label'}}) }}
                </div>
                <div class="col-lg-7 mx-auto mandatory">
                    {{ form_widget(operationSettingsForm.operationSettingsIntroductionText, {'attr': {'class': 'form-control my-form-input-fat'}}) }}
                </div>
                {% if operationSettingsForm.operationSettingsIntroductionText.vars.errors|length > 0 %}
                    <div class="col-lg-1 mx-auto pl-0">
                        <button type="button" style="padding: 3px 6px;" class="btn btn-danger rounded-circle" data-title="Erreur de saisie" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="top"
                                data-content="
                                {% for error in operationSettingsForm.operationSettingsIntroductionText.vars.errors %}
                                    -{{ error.messagePluralization is null
                                    ? error.messageTemplate|trans(error.messageParameters, 'validators')
                                    : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
                                    }}
                                    <br>
                                {% endfor %}
                                ">
                            <i class="fas fa-exclamation-circle"></i>
                        </button>
                    </div>
                {% else %}
                    <div class="col-lg-1 mx-auto pl-0"></div>
                {% endif %}
            </div>
            <div class="row my-form-field">
                <div class="col-lg-4 mx-auto">
                    {{ form_label(operationSettingsForm.operationSettingsLabelBtnPage, null, {'label_attr': {'class': 'my-form-label'}}) }}
                </div>
                <div class="col-lg-7 mx-auto">
                    {{ form_widget(operationSettingsForm.operationSettingsLabelBtnPage, {'attr': {'class': 'form-control my-form-input-big'}}) }}
                </div>
                {% if operationSettingsForm.operationSettingsLabelBtnPage.vars.errors|length > 0 %}
                    <div class="col-lg-1 mx-auto pl-0">
                        <button type="button" style="padding: 3px 6px;" class="btn btn-danger rounded-circle" data-title="Erreur de saisie" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="top"
                                data-content="
                                {% for error in operationSettingsForm.operationSettingsLabelBtnPage.vars.errors %}
                                    -{{ error.messagePluralization is null
                                    ? error.messageTemplate|trans(error.messageParameters, 'validators')
                                    : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
                                    }}
                                    <br>
                                {% endfor %}
                                ">
                            <i class="fas fa-exclamation-circle"></i>
                        </button>
                    </div>
                {% else %}
                    <div class="col-lg-1 mx-auto pl-0"></div>
                {% endif %}
            </div>
            <div class="row my-form-field">
                <div class="col-lg-4 mx-auto">
                    {{ form_label(operationSettingsForm.operationSettingsBtnReject, null, {'label_attr': {'class': 'my-form-label'}}) }}
                </div>
                <div class="col-lg-7 mx-auto">
                    {{ form_widget(operationSettingsForm.operationSettingsBtnReject, {'attr': {'class': 'form-control my-form-input-big'}}) }}
                </div>
                {% if operationSettingsForm.operationSettingsBtnReject.vars.errors|length > 0 %}
                    <div class="col-lg-1 mx-auto pl-0">
                        <button type="button" style="padding: 3px 6px;" class="btn btn-danger rounded-circle" data-title="Erreur de saisie" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="top"
                                data-content="
                                {% for error in operationSettingsForm.operationSettingsBtnReject.vars.errors %}
                                    -{{ error.messagePluralization is null
                                    ? error.messageTemplate|trans(error.messageParameters, 'validators')
                                    : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
                                    }}
                                    <br>
                                {% endfor %}
                                ">
                            <i class="fas fa-exclamation-circle"></i>
                        </button>
                    </div>
                {% else %}
                    <div class="col-lg-1 mx-auto pl-0"></div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row form-buttons form-buttons-medium">
        <button class="btn btn-white-red return-button" type="button">
           <a href="#">SUPPRIMER</a>
        </button>
        <button class="btn btn-white-red return-button" type="button">
           <a href="#">DUPLIQUER</a>
        </button>
        {{ form_widget(operationSettingsForm.save, { 'label': 'ENREGISTRER', 'attr': {'class': 'btn btn-red submit-button'}}) }}
    </div>
{{ form_end(operationSettingsForm) }}
