{{ form_start(operationSettingsForm) }}
    <div class="row">
        <div class="col-lg-6 mx-auto my-form-left-side">
            <div class="row my-form-field {% if operationSettingsForm.operationSettingsEmailObject.vars.errors|length %}my-form-error-container{% endif %}">
                <div class="col-lg-4 mx-auto">
                    {{ form_label(operationSettingsForm.operationSettingsEmailObject, null, {'label_attr': {'class': 'my-form-label'}}) }}
                </div>
                <div class="col-lg-7 mx-auto mandatory">
                    {{ form_widget(operationSettingsForm.operationSettingsEmailObject, {'attr': {'class': 'form-control my-form-input-big'}}) }}
                </div>
                {% if operationSettingsForm.operationSettingsEmailObject.vars.errors|length %}
                    <div class="alert alert-danger my-form-error">
                        {{ form_errors(operationSettingsForm.operationSettingsEmailObject, {'attr': {'class': 'list-unstyled mb-0'}}) }}
                    </div>
                {% endif %}
            </div>
            <div class="row my-form-field operation-visual-container {% if operationSettingsForm.operationSettingsEmailVisual.vars.errors|length %}my-form-error-container{% endif %}">
                <div class="col-lg-4 mx-auto">
                    {{ form_label(operationSettingsForm.operationSettingsEmailVisual, null, {'label_attr': {'class': 'my-form-label'}}) }}
                </div>
                <div class="col-lg-7 mx-auto visual-container">
                    <div class="file-field">
                        <div class="mb-4">
                            {% if operationSettings.OperationSettingsEmailVisual is not null %}
                                <img src="{{asset('build/images/' ~ operationSettings.OperationSettingsEmailVisual)}}" class="operation-visual-img" title="Visuel" alt="Visuel du email">
                            {% else %}
                                <div class="operation-visual-img"></div>
                            {% endif %}
                        </div>
                        <div>
                            <div class="btn btn-mdb-color btn-file float-left waves-effect waves-light">
                                <span><i class="fas fa-sync-alt"></i>PARCOURIR</span>
                                {{ form_widget(operationSettingsForm.operationSettingsEmailVisual, {'attr': {'class': 'form-control my-form-input-big'}}) }}
                            </div>
                            {{ form_errors(operationSettingsForm.operationSettingsEmailVisual, {'attr': {'class': 'form-error-message'}}) }}
                        </div>
                    </div>
                </div>
                {% if operationSettingsForm.operationSettingsEmailVisual.vars.errors|length %}
                    <div class="alert alert-danger my-form-error">
                        {{ form_errors(operationSettingsForm.operationSettingsEmailVisual, {'attr': {'class': 'list-unstyled mb-0'}}) }}
                    </div>
                {% endif %}
            </div>
            <div class="row my-form-field my-form-input-fat-container {% if operationSettingsForm.operationSettingsEmailText.vars.errors|length %}my-form-error-container{% endif %}">
                <div class="col-lg-4 mx-auto">
                    {{ form_label(operationSettingsForm.operationSettingsEmailText, null, {'label_attr': {'class': 'my-form-label'}}) }}
                </div>
                <div class="col-lg-7 mx-auto mandatory">
                    {{ form_widget(operationSettingsForm.operationSettingsEmailText, {'attr': {'class': 'form-control my-form-input-fat'}}) }}
                </div>
                {% if operationSettingsForm.operationSettingsEmailText.vars.errors|length %}
                    <div class="alert alert-danger my-form-error">
                        {{ form_errors(operationSettingsForm.operationSettingsEmailText, {'attr': {'class': 'list-unstyled mb-0'}}) }}
                    </div>
                {% endif %}
            </div>
            <div class="row my-form-field {% if operationSettingsForm.operationSettingsEmailLabelBtn.vars.errors|length > 0 %}my-form-error-container{% endif %}">
                <div class="col-lg-4 mx-auto">
                    {{ form_label(operationSettingsForm.operationSettingsEmailLabelBtn, null, {'label_attr': {'class': 'my-form-label'}}) }}
                </div>
                <div class="col-lg-7 mx-auto">
                    {{ form_widget(operationSettingsForm.operationSettingsEmailLabelBtn, {'attr': {'class': 'form-control my-form-input-big'}}) }}
                </div>
                {% if operationSettingsForm.operationSettingsEmailLabelBtn.vars.errors|length > 0 %}
                    <div class="alert alert-danger my-form-error">
                        {{ form_errors(operationSettingsForm.operationSettingsEmailLabelBtn, {'attr': {'class': 'list-unstyled mb-0'}}) }}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-lg-6 mx-auto my-form-right-side">
            <div class="row my-form-field {% if operationSettingsForm.operationSettingsTitlePage.vars.errors|length %}my-form-error-container{% endif %}">
                <div class="col-lg-4 mx-auto">
                    {{ form_label(operationSettingsForm.operationSettingsTitlePage, null, {'label_attr': {'class': 'my-form-label'}}) }}
                </div>
                <div class="col-lg-7 mx-auto mandatory">
                    {{ form_widget(operationSettingsForm.operationSettingsTitlePage, {'attr': {'class': 'form-control my-form-input-big'}}) }}
                </div>
                {% if operationSettingsForm.operationSettingsTitlePage.vars.errors|length %}
                    <div class="alert alert-danger my-form-error">
                        {{ form_errors(operationSettingsForm.operationSettingsTitlePage, {'attr': {'class': 'list-unstyled mb-0'}}) }}
                    </div>
                {% endif %}
            </div>
            <div class="row my-form-field operation-visual-container {% if operationSettingsForm.operationSettingsVisualPage.vars.errors|length %}my-form-error-container{% endif %}">
                <div class="col-lg-4 mx-auto">
                    {{ form_label(operationSettingsForm.operationSettingsVisualPage, null, {'label_attr': {'class': 'my-form-label'}}) }}
                </div>
                <div class="col-lg-7 mx-auto visual-container">
                    <div class="file-field">
                        <div class="mb-4">
                            {% if operationSettings.operationSettingsVisualPage is not null %}
                                <img src="{{asset('build/images/' ~ operationSettings.operationSettingsVisualPage)}}" class="operation-visual-img" title="Visuel" alt="Visuel de la page">
                            {% else %}
                                <div class="operation-visual-img"></div>
                            {% endif %}
                        </div>
                        <div>
                            <div class="btn btn-mdb-color btn-file float-left waves-effect waves-light">
                                <span><i class="fas fa-sync-alt"></i>PARCOURIR</span>
                                {{ form_widget(operationSettingsForm.operationSettingsVisualPage, {'attr': {'class': 'form-control my-form-input-big'}}) }}
                            </div>
                            {{ form_errors(operationSettingsForm.operationSettingsVisualPage, {'attr': {'class': 'form-error-message'}}) }}
                        </div>
                    </div>
                </div>
                {% if operationSettingsForm.operationSettingsVisualPage.vars.errors|length %}
                    <div class="alert alert-danger my-form-error">
                        {{ form_errors(operationSettingsForm.operationSettingsVisualPage, {'attr': {'class': 'list-unstyled mb-0'}}) }}
                    </div>
                {% endif %}
            </div>
            <div class="row my-form-field {% if operationSettingsForm.operationSettingsIntroductionTitle.vars.errors|length > 0 %}my-form-error-container{% endif %}">
                <div class="col-lg-4 mx-auto">
                    {{ form_label(operationSettingsForm.operationSettingsIntroductionTitle, null, {'label_attr': {'class': 'my-form-label'}}) }}
                </div>
                <div class="col-lg-7 mx-auto mandatory">
                    {{ form_widget(operationSettingsForm.operationSettingsIntroductionTitle, {'attr': {'class': 'form-control my-form-input-big'}}) }}
                </div>
                {% if operationSettingsForm.operationSettingsIntroductionTitle.vars.errors|length > 0 %}
                    <div class="alert alert-danger my-form-error">
                        {{ form_errors(operationSettingsForm.operationSettingsIntroductionTitle, {'attr': {'class': 'list-unstyled mb-0'}}) }}
                    </div>
                {% endif %}
            </div>
            <div class="row my-form-field my-form-input-fat-container {% if operationSettingsForm.operationSettingsIntroductionText.vars.errors|length %}my-form-error-container{% endif %}">
                <div class="col-lg-4 mx-auto">
                    {{ form_label(operationSettingsForm.operationSettingsIntroductionText, null, {'label_attr': {'class': 'my-form-label'}}) }}
                </div>
                <div class="col-lg-7 mx-auto mandatory">
                    {{ form_widget(operationSettingsForm.operationSettingsIntroductionText, {'attr': {'class': 'form-control my-form-input-fat'}}) }}
                </div>
                {% if operationSettingsForm.operationSettingsIntroductionText.vars.errors|length %}
                    <div class="alert alert-danger my-form-error">
                        {{ form_errors(operationSettingsForm.operationSettingsIntroductionText, {'attr': {'class': 'list-unstyled mb-0'}}) }}
                    </div>
                {% endif %}
            </div>
            <div class="row my-form-field {% if operationSettingsForm.operationSettingsLabelBtnPage.vars.errors|length > 0 %}my-form-error-container{% endif %}">
                <div class="col-lg-4 mx-auto">
                    {{ form_label(operationSettingsForm.operationSettingsLabelBtnPage, null, {'label_attr': {'class': 'my-form-label'}}) }}
                </div>
                <div class="col-lg-7 mx-auto">
                    {{ form_widget(operationSettingsForm.operationSettingsLabelBtnPage, {'attr': {'class': 'form-control my-form-input-big'}}) }}
                </div>
                {% if operationSettingsForm.operationSettingsLabelBtnPage.vars.errors|length > 0 %}
                    <div class="alert alert-danger my-form-error">
                        {{ form_errors(operationSettingsForm.operationSettingsLabelBtnPage, {'attr': {'class': 'list-unstyled mb-0'}}) }}
                    </div>
                {% endif %}
            </div>
            <div class="row my-form-field">
                <div class="col-lg-4 mx-auto">
                    {{ form_label(operationSettingsForm.operationSettingsBtnReject, null, {'label_attr': {'class': 'my-form-label'}}) }}
                </div>
                <div class="col-lg-7 mx-auto">
                    {{ form_widget(operationSettingsForm.operationSettingsBtnReject, {'attr': {'class': 'form-control my-form-input-big'}}) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row form-buttons form-buttons-medium">
        <button class="btn btn-white-red return-button" type="button">
           <a href="#">SUPPRIMER</a>
        </button>
        <button class="btn btn-white-red return-button" type="button">
           <a href="#">DUPLIQUER</a>
        </button>
        {{ form_widget(operationSettingsForm.save, { 'label': 'ENREGISTRER', 'attr': {'class': 'btn btn-red submit-button'}}) }}
    </div>
{{ form_end(operationSettingsForm) }}
