{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}} - Modification d'un contactJob
{% endblock %}

{% block body %}
	<h2>Modifier le contactJob {{editContactJob.contactJobName}}</h2>

{# {'method' : 'POST'}, #}
	{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
	{{ form_widget(form) }}
	{{ form_end(form) }}
{% endblock %}