{% extends 'dashboard.html.twig' %}

{% block title %}
	{{ parent()}} - Tableau de bord
{% endblock %}

{% block stylesheet %}
	{{ parent() }}
	{{ encore_entry_link_tags('tabs') }}
{% endblock %}

{% block contentSearch %}
{% endblock %}

{% block contentBody %}
	<div class="container pb-5">
		<div class="row justify-content-left mt-5">
			<div class="col-lg-6 col-sm-6 mb-5">
				<h2 class="h2 text-gray-900">Tableau de bord</h2>
			</div>
			<div class="col-lg-6 col-sm-6 mb-5">
				<ul class="nav justify-content-center">
					<button type="button" class="text-uppercase btn btn-green btn-sm bord-arrondis mr-5">Afficher sur TV</button>
					<li class="nav-item"><button type="button" class="btn btn-light bord-arrondis-gauche btn-dognut-week text-gray-700">Aujourd'hui</button></li>
					<li class="nav-item"><button type="button" class="btn btn-light no-border btn-dognut-week text-gray-700">Semaine</button></li>
					<li class="nav-item"><button type="button" class="btn btn-light no-border btn-dognut-week text-gray-700">Mois</button></li>
					<li class="nav-item"><button type="button" class="btn btn-light btn-dognut-week bord-arrondis-droit text-gray-700">Année</button></li>
				</ul>
			</div>
			<!-- Première ligne -->

            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-lg-3 col-sm-6">
                            <div class="card bg-white mb-3 card-body-box" style="max-width: 18rem;">
                                <div class="card-header bg-white"><i class="fas fa-user-friends"></i><span class="float-right stats-vert">+12 %</span></div>
                                <div class="card-body ">
                                    <h1 class="card-title text-center font-weight-bold">32</h1>
                                    <p class="card-text text-center dashboard-stats-text">Nouveaux contacts</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="card bg-white mb-3 card-body-box" style="max-width: 18rem;">
                                <div class="card-header bg-white"><i class="fas fa-user-circle"></i><span class="float-right stats-vert">+5 %</span></div>
                                <div class="card-body">
                                    <h1 class="card-title text-center font-weight-bold">18</h1>
                                    <p class="card-text text-center dashboard-stats-text">Nouvelles entreprises</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="card bg-white mb-3 card-body-box" style="max-width: 18rem;">
                                <div class="card-header bg-white"><i class="fas fa-envelope"></i><span class="float-right stats-vert">+11 %</span></div>
                                <div class="card-body">
                                    <h1 class="card-title text-center font-weight-bold">25</h1>
                                    <p class="card-text text-center dashboard-stats-text">Nouveaux emails</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="card bg-white mb-3 card-body-box" style="max-width: 18rem;">
                                <div class="card-header bg-white"><i class="fas fa-star"></i><span class="float-right stats-rouge">-6 %</span></div>
                                <div class="card-body">
                                    <h1 class="card-title text-center font-weight-bold">9</h1>
                                    <p class="card-text text-center dashboard-stats-text">Opérations actives</p>
                                </div>
                            </div>
                        </div>

                        <!-- Seconde ligne -->
                        <div class="col-lg-3 col-sm-6">
                            <div class="card bg-white mb-3 card-body-box" style="max-width: 18rem;">
                                <div class="card-header bg-white"><span class="text-uppercase text-center">Total</span><a class="text-gray-800" href="{{ path('newContact') }}"><i class="fas fa-plus-circle float-right"></i></a></div>
                                <div class="card-body">
                                    <h1 class="card-title text-center">4583</h1>
                                    <p class="card-text text-center dashboard-stats-text">Contacts actifs</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="card bg-white mb-3 card-body-box" style="max-width: 18rem;">
                                <div class="card-header bg-white"><span class="text-uppercase text-center">Total</span><a class="text-gray-800" href="{{ path('newCompany') }}"><i class="fas fa-plus-circle float-right"></i></a></div>
                                <div class="card-body">
                                    <h1 class="card-title text-center">1879</h1>
                                    <p class="card-text text-center dashboard-stats-text">Entreprises actives</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="card bg-white mb-3 card-body-box" style="max-width: 18rem;">
                                <div class="card-header bg-white"><span class="text-uppercase text-center">Total</span></div>
                                <div class="card-body">
                                    <h1 class="card-title text-center">2687</h1>
                                    <p class="card-text text-center dashboard-stats-text">Emails</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="card bg-white mb-3 card-body-box" style="max-width: 18rem;">
                                <div class="card-header bg-white"><span class="text-uppercase text-center">Total</span><a class="text-gray-800" href="{{ path('operations_new') }}"><i class="fas fa-plus-circle float-right"></i></a></div>
                                <div class="card-body">
                                    <h1 class="card-title text-center">254</h1>
                                    <p class="card-text text-center dashboard-stats-text">Opérations réalisées</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
					<div class="col-lg-12 col-sm-12">
						<div class="card bg-white mb-3 card-body-box ">
                            <div class="card-header bg-white"><span class="text-center">Performance des opérations</span><button type="button" class="btn float-right p-0"><i class="fas fa-ellipsis-h fa-opacity"></i></button></div>
							<div class="card-body">
								<!-- Chart Donut ; Doghnut -->
								<div id="chart"></div>
							</div>
						</div>
					</div>
                </div>
            </div>


			<!-- Fin Seconde ligne -->
			<div class="col-lg-12 col-sm-12 pt-4">
				<div class="card bg-light mb-3 card-body-box">
					<div class="card-header bg-white"><span class="text-center">Suivi des indicateurs de performance</span><button type="button" class="btn float-right p-0"><i class="fas fa-ellipsis-h fa-opacity"></i></button></div>
					<div class="card-body bg-white p-0">
						<div class="row ml-0">
							<div class="col-3 p-0">
								<button type="button" class="btn btn-light no-border btn-dognut bg-white text-left text-gray-700 w-100 p-3">Opérations</button><br>
								<button type="button" class="btn btn-light no-border btn-dognut bg-white text-left text-gray-700 w-100 p-3">Nouveaux contacts</button><br>
								<button type="button" class="btn btn-light no-border btn-dognut bg-white text-left text-gray-700 w-100 p-3">Contacts mis à jour</button><br>
								<button type="button" class="btn btn-light no-border btn-dognut bg-white text-left text-gray-700 w-100 p-3">Contacts perdus</button><br>
								<button type="button" class="btn btn-light no-border btn-dognut bg-white text-left text-gray-700 w-100 p-3">Nouvelles entreprises</button><br>
								<button type="button" class="btn btn-light no-border btn-dognut bg-white text-left text-gray-700 w-100 p-3">Nouveaux mails</button>
							</div>
							<div class="col-9 p-0">
								<div id="line-operation-chart"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-sm-6 pt-4">
				<div class="card bg-light mb-3 card-body-box">
					<div class="card-header bg-white"><span class="text-center">Performance par départements</span><button type="button" class="btn float-right p-0"><i class="fas fa-ellipsis-h fa-opacity"></i></button></div>
					<div class="card-body bg-white p-5"></div>
				</div>
			</div>
			<div class="col-lg-6 col-sm-6 pt-4">
				<div class="card bg-light mb-3 card-body-box">
					<div class="card-header bg-white"><span class="text-center">Top commerciaux</span><button type="button" class="btn float-right p-0"><i class="fas fa-ellipsis-h fa-opacity"></i></button></div>
					<div class="card-body bg-white p-0">
						<table class="table mb-0">
							<thead>
							<tr>
								<th scope="col" class="h6 dashboard-stats-text">Nom</th>
								<th scope="col" class="h6 dashboard-stats-text"></th>
								<th scope="col" class="h6 dashboard-stats-text"></th>
								<th scope="col" class="h6 dashboard-stats-text">Score</th>
								<th scope="col" class="h6 dashboard-stats-text">Gagnés</th>
								<th scope="col" class="h6 dashboard-stats-text">Mis à jour</th>
								<th scope="col" class="h6 dashboard-stats-text">Perdus</th>
							</tr>
							</thead>
							<tbody class="mb-0 ">
							<tr>
								<th scope="row" class="h6">image</th>
								<td><i class="fas fa-arrow-up stats-vert"></i></td>
								<td>Vincent DUMONT</td>
								<td><span class="dashboard-score-commerciaux">26</span></td>
								<td>5</td>
								<td>24</td>
								<td>3</td>
							</tr>
							<tr>
								<th scope="row" class="h6">image</th>
								<td><i class="fas fa-arrow-down stats-rouge"></i></td>
								<td>Léa MARTIN</td>
								<td><span class="dashboard-score-commerciaux">26</span></td>
								<td>1</td>
								<td>4</td>
								<td>2</td>
							</tr>
							<tr>
								<th scope="row" class="h6">image</th>
								<td><i class="fas fa-arrow-up stats-vert"></i></td>
								<td>Claire MATTHIEU</td>
								<td><span class="dashboard-score-commerciaux">26</span></td>
								<td>4</td>
								<td>21</td>
								<td>7</td>
							</tr>
							<tr>
								<th scope="row" class="h6">image</th>
								<td><i class="fas fa-arrow-up stats-vert"></i></td>
								<td>Vincent DUMONT</td>
								<td><span class="dashboard-score-commerciaux">26</span></td>
								<td>5</td>
								<td>24</td>
								<td>3</td>
							</tr>
							<tr>
								<th scope="row" class="h6">image</th>
								<td><i class="fas fa-arrow-down stats-rouge"></i></td>
								<td>Léa MARTIN</td>
								<td><span class="dashboard-score-commerciaux">26</span></td>
								<td>1</td>
								<td>4</td>
								<td>2</td>
							</tr>
							<tr>
								<th scope="row" class="h6">image</th>
								<td><i class="fas fa-arrow-up stats-vert"></i></td>
								<td>Claire MATTHIEU</td>
								<td><span class="dashboard-score-commerciaux">26</span></td>
								<td>4</td>
								<td>21</td>
								<td>7</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="col-lg-12 col-sm-6 pt-4">
				<div class="card bg-white mb-3 card-body-box">
					<div class="card-body">
						<div id="chart-circle"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascript %}
{{parent()}}
{% endblock %}