{% extends "layout.html.twig" %}

{% block title %}
	{{parent()}} - Modification d'un secteur d'activité
{% endblock %}

{% block gsbobjcom_body %}
	<h2>Modification du secteur d'activité numéro {{activitySector.id}}</h2>
	{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
	{{ form_widget(form) }}
	{{ form_end(form) }}

	<a href="/company/activity/sector/list">Annulation de la modification : Retour au secteurs d'activités</a>
{% endblock %}