{% extends 'layout.html.twig' %}

{% block title %}
	{{ parent()}}Contact
{% endblock %}

{% block stylesheet %}
	{{parent()}}
	{{ encore_entry_link_tags('tabs') }}
	<!-- <link rel="stylesheet" href="/build/tabs.css"> Autre façon d'appler le fichier css -->
{% endblock %}

{# {% block contentSearch %}
{% endblock %} #}

{% block h1 %}Contact{% endblock %}

{% block contentBody %}

	<div class="tabset">
		<!-- Tab 1 -->
		<input type="radio" name="tabset" id="tab1" aria-controls="identity" checked>
		<label for="tab1">Identité</label>

		<div class="tab-panels">
			<section id="identity" class="tab-panel">
				{{ form_start(form, {'method': 'POST'}, {'attr': {'novalidate': 'novalidate'}}) }}
				{{ form_label(form.contactCode) }}
				{{ form_widget(form.contactCode, {'attr': {'class': 'form-control', 'placeholder': "Ex: 1254789"}}) }}

				{{ form_errors(form.contactCode, {'attr': {'class': 'form-error-message'}}) }}

				{{ form_label(form.contactGender) }}
				{{ form_widget(form.contactGender, {'attr': {'class': 'form-control'}}) }}

				{{ form_errors(form.contactGender, {'attr': {'class': 'form-error-message'}}) }}

				{{ form_label(form.contactFirstName) }}
				{{ form_widget(form.contactFirstName, {'attr': {'class': 'form-control'}}) }}

				{{ form_errors(form.contactFirstName, {'attr': {'class': 'form-error-message'}}) }}

				{{ form_label(form.contactLastName) }}
				{{ form_widget(form.contactLastName, {'attr': {'class': 'form-control'}}) }}

				{{ form_errors(form.contactLastName, {'attr': {'class': 'form-error-message'}}) }}

				{{ form_label(form.contactBirthDate, 'Date de Naissance', {'label_attr': {'class': 'CUSTOM_LABEL_CLASS'}}) }}
				{{ form_widget(form.contactBirthDate, {'attr': {'class': 'form-control'}}) }}

				{{ form_errors(form.contactBirthDate, {'attr': {'class': 'form-error-message'}}) }}

				{{ form_label(form.idContactJob) }}
				{{ form_widget(form.idContactJob, {'attr': {'class': 'form-control'}}) }}

				{{ form_errors(form.idContactJob, {'attr': {'class': 'form-error-message'}}) }}

				{{ form_label(form.contactMobilePhone) }}
				{{ form_widget(form.contactMobilePhone, {'attr': {'class': 'form-control'}}) }}

				{{ form_errors(form.contactMobilePhone, {'attr': {'class': 'form-error-message'}}) }}

				{{ form_label(form.contactLinkedinAddress) }}
				{{ form_widget(form.contactLinkedinAddress, {'attr': {'class': 'form-control'}}) }}

				{{ form_errors(form.contactLinkedinAddress, {'attr': {'class': 'form-error-message'}}) }}

				{{ form_label(form.contactEmail) }}
				{{ form_widget(form.contactEmail, {'attr': {'class': 'form-control'}}) }}

				{{ form_errors(form.contactEmail, {'attr': {'class': 'form-error-message'}}) }}

				{{ form_label(form.idCompany) }}
				{{ form_widget(form.idCompany, {'attr': {'class': 'form-control'}}) }}

				{{ form_errors(form.idCompany, {'attr': {'class': 'form-error-message'}}) }}

				{{ form_label(form.contactDecisionLevel) }}
				{{ form_widget(form.contactDecisionLevel, {'attr': {'class': 'form-control'}}) }}

				{{ form_errors(form.contactDecisionLevel, {'attr': {'class': 'form-error-message'}}) }}

				{{ form_label(form.contactDirectLandline) }}
				{{ form_widget(form.contactDirectLandline, {'attr': {'class': 'form-control'}}) }}

				{{ form_errors(form.contactDirectLandline, {'attr': {'class': 'form-error-message'}}) }}

				{{ form_label(form.contactComment) }}
				{{ form_widget(form.contactComment, {'attr': {'class': 'form-control'}}) }}

				{{ form_errors(form.contactComment, {'attr': {'class': 'form-error-message'}}) }}

				{{ form_label(form.contactPhoto) }}
				{{ form_widget(form.contactPhoto, {'attr': {'class': 'form-control'}}) }}

				{{ form_errors(form.contactPhoto, {'attr': {'class': 'form-error-message'}}) }}

				{{ form_label(form.save) }}
				{{ form_widget(form.save, {'attr': {'class': 'form-control'}}) }}
				{{ form_end(form) }}
			</section>
		</div>
	</div>

{% endblock %}
