{% extends "layout.html.twig" %}

{% block title %}
	{{parent()}} - Modification d'une entreprise
{% endblock %}

{% block stylesheet %}
	{{parent()}}
	{{ encore_entry_link_tags('tabs') }}
	<!-- <link rel="stylesheet" href="/build/tabs.css"> Autre façon d'appler le fichier css -->
{% endblock %}

{# {% block contentSearch %}
{% endblock %} #}

{% block h1 %}Entreprises{% endblock %}

{% block contentBody %}

	<div class="row pb-2">
		<div class="col-lg-6 mx-auto last-upd">
			<span class="font-weight-bold">{{company.CompanyLastName}}</span>,{% if company.idCompanyCodeNAF is not null %}{{ company.idCompanyCodeNAF.label }}{% endif %} ({{ company.CompanyPostalCode }} {{ company.CompanyCity }})
		</div>

		<div class="col-lg-6 mx-auto status">
			<div class="last-upd2" style="width: 60%;">
				{% if company.CompanyDateUpdate is not null %}
					{% if company.CompanyStatus == "0" %}
						<img src="{{asset('build/rouge.png')}}" class="table-img-profile4 rounded-circle" title="Rouge" alt="Statut rouge"><b>Obsolète&nbsp;</b>
					{% elseif company.CompanyStatus == "1" %}
						<img src="{{asset('build/vert.png')}}" class="table-img-profile4 rounded-circle" title="Vert" alt="Statut vert"><b>à jour&nbsp;</b>
					{% else %}
						<img src="{{asset('build/orange.png')}}" class="table-img-profile4 rounded-circle" title="Orange" alt="Statut orange"><b>à vérifier&nbsp;</b>
					{% endif %} Dernière mise à jour le {{ company.CompanyDateUpdate|date("d/m/Y", "Europe/Paris") }} à {{ company.CompanyDateUpdate|date("H", "Europe/Paris") }}h{{ company.CompanyDateUpdate|date("i", "Europe/Paris") }}</p>
				{% endif %}
			</div>
			<div class="status2">
				{{ form_start(form, {'method': 'POST'}, {'attr': {'novalidate': 'novalidate'}}) }}
				{{ form_widget(form.CompanyStatus, {'attr': {'class': 'switch_2'}}) }}
			</div>
		</div>
	</div>

	<div class="tabset mw-100">
		<!-- Tab 1 -->
		<input type="radio" name="tabset" id="tab1" aria-controls="identite" checked>
		<label for="tab1">Identité</label>
		<!-- Tab 2 -->
		<input type="radio" name="tabset" id="tab2" aria-controls="contacts">
		<label for="tab2">Contacts <span class="company-nbContact text-white pl-3 pr-3 pt-1 pb-1">{{nbContact[1]}}</span></label>
		<!-- Tab 3 -->
		<input type="radio" name="tabset" id="tab3" aria-controls="notes">
		<label for="tab3">Notes</label>
		<!-- Tab 4 -->
		<input type="radio" name="tabset" id="tab4" aria-controls="historique">
		<label for="tab4">Historique</label>

		<div class="float-right">
			{% if company.idCompanyStatus.label == "Client" %}
			<span class="company-status-client pl-3 pr-3 pt-1 pb-1" style="display: unset; margin: 20px;">{{ company.idCompanyStatus.label }}</span>
			{% elseif company.idCompanyStatus.label == "Piste" %}
			<span class="company-status-piste pl-3 pr-3 pt-1 pb-1" style="display: unset; margin: 20px;">{{ company.idCompanyStatus.label }}</span>
			{% else %}
				<span class="company-status-prospect pl-3 pr-3 pt-1 pb-1" style="display: unset; margin: 20px;">{{ company.idCompanyStatus.label }}</span>
			{% endif %}
		</div>
		<input id="idCompany" type="hidden" value="{{ company.id }}"/>
		{% if company.CompanyPotential == NULL %}
			<input id="potential_level" type="hidden" value="0"/>
		{% else %}
			<input id="potential_level" type="hidden" value=" {{ company.CompanyPotential }}"/>
		{% endif %}
		<div class="my-rating float-right">Potentiel </div>

		<div class="tab-panels">
			<section id="identity" class="tab-panel">
				{{ form_start(form, {'method': 'POST'}, {'attr': {'novalidate': 'novalidate'}}) }}
				<div class="file-field">
					<div class="mb-4">
						<img src="{{ asset('build/Photo.png') }}" class="rounded-circle avatar-pic" title="Photo" alt="Photo de profil">
					</div>
					<div>
						<div class="btn btn-mdb-color btn-file float-left waves-effect waves-light">
							<span><i class="fas fa-sync-alt"></i>PHOTO</span>
							{{ form_widget(form.CompanyLogo) }}
						</div>
						{{ form_errors(form.CompanyLogo, {'attr': {'class': 'form-error-message'}}) }}
					</div>
				</div>

				<div class="row">
					<div class="col-lg-6 mx-auto form-left">
						<div class="row my-form-field">
							<div class="col-lg-4 mx-auto">
								{{ form_label(form.idUser, 'Compte suivi par', {'label_attr': {'class': 'my-form-label'}}) }}
							</div>
							<div class="col-lg-7 mx-auto mandatory-white">
								{{ form_widget(form.idUser, {'attr': {'class': 'form-control'}}) }}
								{{ form_errors(form.idUser, {'attr': {'class': 'form-error-message'}}) }}
							</div>
							<div class="col-lg-1 mx-auto pl-0"></div>
						</div>
						<div class="row my-form-field">
							<div class="col-lg-4 mx-auto">
								{{ form_label(form.CompanyCode, null, {'label_attr': {'class': 'my-form-label'}}) }}
							</div>
							<div class="col-lg-7 mx-auto mandatory">
								{{ form_widget(form.CompanyCode, {'attr': {'class': 'form-control w-50', 'placeholder': "1254789"}}) }}
								{{ form_errors(form.CompanyCode, {'attr': {'class': 'form-error-message'}}) }}
							</div>
							<div class="col-lg-1 mx-auto pl-0"></div>
						</div>
						<div class="row my-form-field">
							<div class="col-lg-4 mx-auto">
								{{ form_label(form.CompanyLastName) }}
							</div>
							<div class="col-lg-7 mx-auto mandatory">
								{{ form_widget(form.CompanyLastName, {'attr': {'class': 'form-control'}}) }}
								{{ form_errors(form.CompanyLastName, {'attr': {'class': 'form-error-message'}}) }}
							</div>
							<div class="col-lg-1 mx-auto pl-0"></div>
						</div>
						<div class="row my-form-field">
							<div class="col-lg-4 mx-auto">
								{{ form_label(form.idCompanyStatus, null, {'label_attr': {'class': 'my-form-label'}}) }}
							</div>
							<div class="col-lg-7 mx-auto mandatory">
								{{ form_widget(form.idCompanyStatus, {'attr': {'class': 'form-control'}}) }}
								{{ form_errors(form.idCompanyStatus, {'attr': {'class': 'form-error-message'}}) }}
							</div>
							<div class="col-lg-1 mx-auto pl-0"></div>
						</div>
						<div class="row my-form-field">
							<div class="col-lg-4 mx-auto">
								{{ form_label(form.idCompanyCodeNAF, null, {'label_attr': {'class': 'my-form-label'}}) }}
							</div>
							<div class="col-lg-7 mx-auto mandatory-white">
								{{ form_widget(form.idCompanyCodeNAF, {'attr': {'class': 'form-control'}}) }}
								{{ form_errors(form.idCompanyCodeNAF, {'attr': {'class': 'form-error-message'}}) }}
							</div>
							<div class="col-lg-1 mx-auto pl-0"></div>
						</div>
						<div class="row my-form-field">
							<div class="col-lg-4 mx-auto">
								{{ form_label(form.idCompanyLegalStatus, null, {'label_attr': {'class': 'my-form-label'}}) }}
							</div>
							<div class="col-lg-7 mx-auto mandatory-white">
								{{ form_widget(form.idCompanyLegalStatus, {'attr': {'class': 'form-control'}}) }}
								{{ form_errors(form.idCompanyLegalStatus, {'attr': {'class': 'form-error-message'}}) }}
							</div>
							<div class="col-lg-1 mx-auto pl-0"></div>
						</div>
						<div class="row my-form-field">
							<div class="col-lg-4 mx-auto">
								{{ form_label(form.CompanySiret, null, {'label_attr': {'class': 'my-form-label'}}) }}
							</div>
							<div class="col-lg-7 mx-auto mandatory-white">
								{{ form_widget(form.CompanySiret, {'attr': {'class': 'form-control'}}) }}
							</div>
							{% if form.CompanySiret.vars.errors|length > 0 %}
								<div class="col-lg-1 mx-auto pl-0">
									<button type="button" style="padding: 3px 6px;" class="btn btn-danger rounded-circle" data-title="Erreur de saisie" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="top" data-content="
                                    {% for error in form.CompanySiret.vars.errors %}
                                        -{{ error.messagePluralization is null
									? error.messageTemplate|trans(error.messageParameters, 'validators')
									: error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
									}}<br>
                                    {% endfor %}
                                    "><i class="fas fa-exclamation-circle"></i>
									</button>
								</div>
							{% else %}
								<div class="col-lg-1 mx-auto pl-0"></div>
							{% endif %}
						</div>
						<div class="row my-form-field">
							<div class="col-lg-4 mx-auto">
								{{ form_label(form.idCompanyNbEmployee, null,{'label_attr': {'class': 'my-form-label'}}) }}
							</div>
							<div class="col-lg-7 mx-auto mandatory-white">
								{{ form_widget(form.idCompanyNbEmployee, {'attr': {'class': 'form-control'}}) }}
								{{ form_errors(form.idCompanyNbEmployee, {'attr': {'class': 'form-error-message'}}) }}
							</div>
							<div class="col-lg-1 mx-auto pl-0"></div>
						</div>
						<div class="row my-form-field">
							<div class="col-lg-4 mx-auto">
								{{ form_label(form.idCompanyTurnover, null,{'label_attr': {'class': 'my-form-label'}}) }}
							</div>
							<div class="col-lg-7 mx-auto mandatory-white">
								{{ form_widget(form.idCompanyTurnover, {'attr': {'class': 'form-control'}}) }}
								{{ form_errors(form.idCompanyTurnover, {'attr': {'class': 'form-error-message'}}) }}
							</div>
							<div class="col-lg-1 mx-auto pl-0"></div>
						</div>
					</div>
					<div class="col-lg-6 mx-auto form-right">
						<div class="row my-form-field">
							<div class="col-lg-4 mx-auto">
								{{ form_label(form.CompanyEmail, null, {'label_attr': {'class': 'my-form-label'}}) }}
							</div>
							<div class="col-lg-7 mx-auto">
								{{ form_widget(form.CompanyEmail, {'attr': {'class': 'form-control'}}) }}
							</div>
							{% if form.CompanyEmail.vars.errors|length > 0 %}
								<div class="col-lg-1 mx-auto pl-0">
									<button type="button" style="padding: 3px 6px;" class="btn btn-danger rounded-circle" data-title="Erreur de saisie" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="top" data-content="
                                    {% for error in form.CompanyEmail.vars.errors %}
                                        -{{ error.messagePluralization is null
									? error.messageTemplate|trans(error.messageParameters, 'validators')
									: error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
									}}<br>
                                    {% endfor %}
                                    "><i class="fas fa-exclamation-circle"></i>
									</button>
								</div>
							{% else %}
								<div class="col-lg-1 mx-auto pl-0"></div>
							{% endif %}
						</div>
						<div class="row my-form-field">
							<div class="col-lg-4 mx-auto">
								{{ form_label(form.CompanyAddress, null, {'label_attr': {'class': 'my-form-label'}}) }}
							</div>
							<div class="col-lg-7 mx-auto">
								{{ form_widget(form.CompanyAddress, {'attr': {'class': 'form-control input-adresse'}}) }}
								{{ form_errors(form.CompanyAddress, {'attr': {'class': 'form-error-message'}}) }}
							</div>
							<div class="col-lg-1 mx-auto pl-0"></div>
							{#<i class="fas fa-map-marker-alt fa-opacity"></i>#}
						</div>
						<div class="row my-form-field">
							<div class="col-lg-4 mx-auto">
								{{ form_label(form.CompanyPostalCode, null, {'label_attr': {'class': 'my-form-label'}}) }}
							</div>
							<div class="col-lg-7 mx-auto">
								{{ form_widget(form.CompanyPostalCode, {'attr': {'class': 'form-control'}}) }}
							</div>
							{% if form.CompanyPostalCode.vars.errors|length > 0 %}
								<div class="col-lg-1 mx-auto pl-0">
									<button type="button" style="padding: 3px 6px;" class="btn btn-danger rounded-circle" data-title="Erreur de saisie" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="top" data-content="
                                    {% for error in form.CompanyPostalCode.vars.errors %}
                                        -{{ error.messagePluralization is null
									? error.messageTemplate|trans(error.messageParameters, 'validators')
									: error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
									}}<br>
                                    {% endfor %}
                                    "><i class="fas fa-exclamation-circle"></i>
									</button>
								</div>
							{% else %}
								<div class="col-lg-1 mx-auto pl-0"></div>
							{% endif %}
						</div>
						<div class="row my-form-field">
							<div class="col-lg-4 mx-auto">
								{{ form_label(form.CompanyCity, null, {'label_attr': {'class': 'my-form-label'}}) }}
							</div>
							<div class="col-lg-7 mx-auto">
								{{ form_widget(form.CompanyCity, {'attr': {'class': 'form-control'}}) }}
								{{ form_errors(form.CompanyCity, {'attr': {'class': 'form-error-message'}}) }}
							</div>
							<div class="col-lg-1 mx-auto pl-0"></div>
						</div>
						<div class="row my-form-field">
							<div class="col-lg-4 mx-auto">
								{{ form_label(form.idCompanyCountry, null,{'label_attr': {'class': 'my-form-label'}}) }}
							</div>
							<div class="col-lg-7 mx-auto">
								{{ form_widget(form.idCompanyCountry, {'attr': {'class': 'form-control'}}) }}
								{{ form_errors(form.idCompanyCountry, {'attr': {'class': 'form-error-message'}}) }}
							</div>
							<div class="col-lg-1 mx-auto pl-0"></div>
						</div>
						<div class="row my-form-field">
							<div class="col-lg-4 mx-auto">
								{{ form_label(form.CompanyStandardPhone, null, {'label_attr': {'class': 'my-form-label'}}) }}
							</div>
							<div class="col-lg-7 mx-auto">
								{{ form_widget(form.CompanyStandardPhone, {'attr': {'class': 'form-control input-tel'}}) }}
							</div>
							{% if form.CompanyStandardPhone.vars.errors|length > 0 %}
								<div class="col-lg-1 mx-auto pl-0">
									<button type="button" style="padding: 3px 6px;" class="btn btn-danger rounded-circle" data-title="Erreur de saisie" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="top" data-content="
                                    {% for error in form.CompanyStandardPhone.vars.errors %}
                                        -{{ error.messagePluralization is null
									? error.messageTemplate|trans(error.messageParameters, 'validators')
									: error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
									}}<br>
                                    {% endfor %}
                                    "><i class="fas fa-exclamation-circle"></i>
									</button>
								</div>
							{% else %}
								<div class="col-lg-1 mx-auto pl-0"></div>
							{% endif %}
						</div>
						<div class="row my-form-field">
							<div class="col-lg-4 mx-auto">
								{{ form_label(form.CompanyFax, null, {'label_attr': {'class': 'my-form-label'}}) }}
							</div>
							<div class="col-lg-7 mx-auto">
								{{ form_widget(form.CompanyFax, {'attr': {'class': 'form-control input-fax '}}) }}
							</div>
							{% if form.CompanyFax.vars.errors|length > 0 %}
								<div class="col-lg-1 mx-auto pl-0">
									<button type="button" style="padding: 3px 6px;" class="btn btn-danger rounded-circle" data-title="Erreur de saisie" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="top" data-content="
                                    {% for error in form.CompanyFax.vars.errors %}
                                        -{{ error.messagePluralization is null
									? error.messageTemplate|trans(error.messageParameters, 'validators')
									: error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
									}}<br>
                                    {% endfor %}
                                    "><i class="fas fa-exclamation-circle"></i>
									</button>
								</div>
							{% else %}
								<div class="col-lg-1 mx-auto pl-0"></div>
							{% endif %}
						</div>
						<div class="row my-form-field">
							<div class="col-lg-4 mx-auto">
								{{ form_label(form.CompanyWebSite, null, {'label_attr': {'class': 'my-form-label'}}) }}
							</div>
							<div class="col-lg-7 mx-auto">
								{{ form_widget(form.CompanyWebSite, {'attr': {'class': 'form-control input-web'}}) }}
							</div>
							{% if form.CompanyWebSite.vars.errors|length > 0 %}
								<div class="col-lg-1 mx-auto pl-0">
									<button type="button" style="padding: 3px 6px;" class="btn btn-danger rounded-circle" data-title="Erreur de saisie" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="top" data-content="
                                {% for error in form.CompanyWebSite.vars.errors %}
                                    -{{ error.messagePluralization is null
									? error.messageTemplate|trans(error.messageParameters, 'validators')
									: error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
									}}<br>
                                {% endfor %}
                                "><i class="fas fa-exclamation-circle"></i>
									</button>
								</div>
							{% else %}
								<div class="col-lg-1 mx-auto pl-0"></div>
							{% endif %}
						</div>
						<div class="row my-form-field">
							<div class="col-lg-4 mx-auto">
								{{ form_label(form.CompanyComments, null, {'label_attr': {'class': 'my-form-label'}}) }}
							</div>
							<div class="col-lg-7 mx-auto">
								{{ form_widget(form.CompanyComments, {'attr': {'class': 'form-control'}}) }}
								{{ form_errors(form.CompanyComments, {'attr': {'class': 'form-error-message'}}) }}
							</div>
							<div class="col-lg-1 mx-auto pl-0"></div>
						</div>
					</div>
				</div>

				<br><br><br><br>
				<button class="btn btn-light return-button float-left" type="button">
					<a href="{{ path('listCompany') }}" class="text-decoration-none text-gray-800"><i class="fas fa-arrow-left"></i> Retour</a>
				</button>
				<div class="row form-buttons mt-0 mb-0" style="padding-left: 40%;">
					<button class="btn btn-white-red return-button" type="button">
						<a href="{{ path('deleteCompany', {'id':company.Id}) }}">SUPPRIMER</a>
					</button>
					<button class="btn btn-white-red font-weight-bold button-large" type="button">
						<a href="#">DEMANDE DE MISE A JOUR</a>
					</button>
					{{ form_widget(form.save, { 'label': 'ENREGISTRER', 'attr': {'class': 'btn btn-red submit-button'}}) }}
					{{ form_end(form) }}
				</div>
			</section>

			<section id="contacts" class="tab-panel">
				<div class="table-responsive">
					<table id="table" class="table sortable-table">
						<thead>
						<tr>
							<th style="width: 220px;" class="sortable" data-field="prenom">Prénom</th>
							<th style="width: 220px;" class="sortable" data-field="nom">Nom</th>
							<th style="width: 220px;" class="sortable" data-field="entreprise">Entreprise</th>
							<th style="width: 220px;" class="sortable" data-field="fonction">Fonction</th>
							<th style="width: 220px;" class="sortable" data-field="cp">CP</th>
							<th style="width: 220px;" class="sortable" data-field="vile">Ville</th>
							<th style="width: 220px;" class="sortable" data-field="contact">Statut</th>
							<th style="width: 100px;text-align: center;" class="table-field-other no-sortable" data-field="autre">&bull;&bull;&bull;</th>
						</tr>
						</thead>
						<tbody id="myTableBody">
						{% for contact in listContact %}
							<tr>
								<td>
									{% if contact.ContactPhoto is not null %}
										<img src="{{ asset('build/images/' ~ contact.ContactPhoto) }}"
											 class="table-img-profile rounded-circle" title="Photo" alt="Aucun logo">
									{% else %}
										<img src="{{ asset('build/Photo.png') }}"
											 class="table-img-profile rounded-circle" title="Photo"
											 alt="Logo de l'entreprise">
									{% endif %}
									<a href="{{ path('editContact', {'id':contact.Id}) }}">    {{ contact.ContactFirstName }}
									</a>
								</td>
								<td>
									<a href="{{ path('editContact', {'id':contact.Id}) }}">    {{ contact.contactLastName }}
									</a>
								</td>
								<td>
									{% if contact.idCompany is not null %}
										<a href="{{ path('editContact', {'id':contact.Id}) }}">    {{ contact.idCompany.CompanyLastName }}
										</a>
									{% else %}
										<a href="{{ path('editContact', {'id':contact.Id}) }}">
										</a>
									{% endif %}
								</td>
								<td>
									{% if contact.idContactJob is not null %}
										<a href="{{ path('editContact', {'id':contact.Id}) }}">    {{ contact.idContactJob.contactJobName }}
										</a>
									{% else %}
										<a href="{{ path('editContact', {'id':contact.Id}) }}">
										</a>
									{% endif %}
								</td>
								<td>
									{% if contact.idCompany is not null %}
										<a href="{{ path('editContact', {'id':contact.Id}) }}">    {{ contact.idCompany.CompanyPostalCode }}
										</a>
									{% else %}
										<a href="{{ path('editContact', {'id':contact.Id}) }}">
										</a>
									{% endif %}
								</td>
								<td>
									{% if contact.idCompany is not null %}
										<a href="{{ path('editContact', {'id':contact.Id}) }}">    {{ contact.idCompany.CompanyCity }}
										</a>
									{% else %}
										<a href="{{ path('editContact', {'id':contact.Id}) }}">
										</a>
									{% endif %}
								</td>
								<td>
									{% if contact.contactStatus == "0" %}
										<img src="{{ asset('build/rouge.png') }}"
											 class="table-img-profile3 rounded-circle" title="Rouge" alt="Statut rouge">
										<a href="{{ path('editContact', {'id':contact.Id}) }}">Obsolète
										</a>
									{% elseif contact.contactStatus == "1" %}
										<img src="{{ asset('build/vert.png') }}"
											 class="table-img-profile3 rounded-circle" title="Vert" alt="Statut vert">
										<a href="{{ path('editContact', {'id':contact.Id}) }}">à jour
										</a>
									{% else %}
										<img src="{{ asset('build/orange.png') }}"
											 class="table-img-profile3 rounded-circle" title="Orange"
											 alt="Statut orange">
										<a href="{{ path('editContact', {'id':contact.Id}) }}">à vérifier
										</a>
									{% endif %}
								</td>
								<td>
									{% if contact.contactEmail is not null %}
										<img src="{{ asset('build/mail.png') }}" class="commercial-mail"
											 title="{{ contact.contactEmail }}" alt="Email du contact">
									{% endif %}
									{% if contact.contactMobilePhone is not null %}
										<img src="{{ asset('build/tel.png') }}" class="commercial-tel"
											 title="{{ contact.contactMobilePhone }}" alt="Tél. fixe direct du contact">
									{% endif %}
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="8" class="text-center">Ce commercial ne possède aucun contact</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>

				{% if listContact|length != 0 %}
					<div class="table-after">
						<div class="row">
							<div class="table-after-entry">
								<select id="table-nb-entry" class="table-nb-entry unset-outline">
									<option value="5">5</option>
									<option value="10">10</option>
									<option value="15">15</option>
									<option value="20">20</option>
									<option value="25">25</option>
								</select>
							</div>
							<div class="table-after-pagination">
								<ul class="pagination pagination-lg pager" id="myPager"></ul>
							</div>
						</div>
					</div>
				{% endif %}
			</section>

			<section id="notes" class="tab-panel">
			</section>

			<section id="historique" class="tab-panel">
			</section>

		</div>
	</div>

{% endblock %}
{% block javascript %}
{{parent()}}

{% endblock %}