{% extends "layout.html.twig" %}

{% block title %}
	{{parent()}} - Liste des entreprises
{% endblock %}

{% set nombre = 0 %}

{% block h1 %}
	Entreprises <span class="text-danger h5">({{lesEntreprises|length}})</span>
{% endblock %}

{% block contentBodyContainer %}
<div>
	{% block contentBody %}

	<!--<button id="export" class="btn btn-success pull-right"><i class="glyphicon glyphicon-export"></i>&nbsp;Exporter</button>-->

		<form method="post">
			<div class="table-responsive">
				<table id="table" class="table sortable-table">
					<thead>
					<tr>
						<th style="width: 50px;padding-bottom: 0.5%;" class="no-sortable"><input type="checkbox" id="checkall"></th>
						<th class="no-sortable" data-field="logo"></th>
						<th class="sortable" data-field="nom">Nom</th>
						<th class="sortable" data-field="activite">Activité</th>
						<th class="sortable" data-field="cp">CP</th>
						<th class="sortable" data-field="ville">Ville</th>
						<th class="sortable" data-field="responsable">Responsable du compte</th>
						<th class="sortable" data-field="statut">Statut</th>
						<th class="sortable" data-field="contact">Contacts</th>
						<th class="table-field-other no-sortable" data-field="autre">&bull;&bull;&bull;</th>
					</tr>
					</thead>
					<tbody id="myTableBody">
					{% for uneEntreprise in lesEntreprises %}
						<tr>
							<td>
								<input type="checkbox" class="checkthis" name="deleteData[]" value="{{ uneEntreprise.Id }}">
							</td>
							<td>
								{% if uneEntreprise.CompanyLogo is not null %}
									<img src="{{asset('build/images/' ~ uneEntreprise.CompanyLogo)}}" class="table-img-profile rounded-circle" title="Logo" alt="Aucun logo">
								{% else %}
									<img src="{{asset('build/Photo.png')}}" class="table-img-profile rounded-circle" title="Logo" alt="Logo de l'entreprise">
								{% endif %}
							</td>
							<td>
								<a href="{{ path('editCompany', {'id':uneEntreprise.Id}) }}">	{{uneEntreprise.CompanyLastName}}</a>
							</td>
							<td>
								{% if uneEntreprise.idCompanyCodeNAF is not null %}
									{% set activite = [] %}
									{% set activite = uneEntreprise.idCompanyCodeNAF.label|split('(') %}
									<a href="{{ path('editCompany', {'id':uneEntreprise.id}) }}">	{{activite[0]}}</a>
								{% else %}
									<a href="{{ path('editCompany', {'id':uneEntreprise.id}) }}"></a>
								{% endif %}
								</td>
							<td>
								<a href="{{ path('editCompany', {'id':uneEntreprise.Id}) }}">	{{uneEntreprise.CompanyPostalCode}}</a>
							</td>
							<td>
								<a href="{{ path('editCompany', {'id':uneEntreprise.Id}) }}">	{{uneEntreprise.CompanyCity}}</a>
							</td>
							<td>
								{% if uneEntreprise.idUser is not null %}
								<a href="{{ path('editCompany', {'id':uneEntreprise.Id}) }}">{{uneEntreprise.idUser.commercialFirstname}} {{uneEntreprise.idUser.commercialName}}</a>
								{% endif %}
							</td>
							<td>
								{% if uneEntreprise.idCompanyStatus.label == "Client" %}
									<span class="company-status-client pl-3 pr-3 pt-1 pb-1 m-0" style="display: unset; margin: 20px;">{{ uneEntreprise.idCompanyStatus.label }}</span>
								{% elseif uneEntreprise.idCompanyStatus.label == "Piste" %}
									<span class="company-status-piste pl-3 pr-3 pt-1 pb-1 m-0" style="display: unset; margin: 20px;">{{ uneEntreprise.idCompanyStatus.label }}</span>
								{% elseif uneEntreprise.idCompanyStatus.label == "Prospect"  %}
									<span class="company-status-prospect pl-3 pr-3 pt-1 pb-1 m-0" style="display: unset; margin: 20px;">{{ uneEntreprise.idCompanyStatus.label }}</span>
								{% else %}
									<span class="company-status-inactif pl-3 pr-3 pt-1 pb-1 m-0" style="display: unset; margin: 20px;">{{ uneEntreprise.idCompanyStatus.label }}</span>
								{% endif %}
							</td>
							<td>
								{% if nbContact[uneEntreprise.Id] == 0 %}
									<div class="company-nbContact-0">
										<a href="{{ path('editCompany', {'id':uneEntreprise.Id}) }}">{{nbContact[uneEntreprise.Id]}}</a>
									</div>
								{% else %}
									<div class="company-nbContact">
										<a href="{{ path('editCompany', {'id':uneEntreprise.Id}) }}">{{nbContact[uneEntreprise.Id]}}</a>
									</div>
								{% endif %}
							</td>
							<td>
								{% if uneEntreprise.CompanyAddress is not null %}
									<img src="{{asset('build/mail.png')}}" class="commercial-mail" title="{{uneEntreprise.CompanyEmail}}" alt="Email de l'entreprise">
								{% endif %}
								{% if uneEntreprise.CompanyStandardPhone is not null %}
									<img src="{{asset('build/tel.png')}}" class="commercial-tel" title="{{uneEntreprise.CompanyStandardPhone}}" alt="Téléphone du standard">
								{% endif %}
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="10" class="text-center">Aucun résultat</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>

			<!-- modal-dialog -->
			<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Supprimer ce(s) élément(s)</h5>
							<button class="close" type="button" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
						</div>
						<div class="modal-body">
							Etes-vous sûr ?
						</div>
						<div class="modal-footer">
							<button class="btn btn-white-red return-button" type="button" data-dismiss="modal">
								<a href="#"> Annuler</a>
							</button>
							<input class="btn btn-red submit-button" type="submit" name="delete" id="delete" value="SUPPRIMER">
						</div>
					</div>
				</div>
			</div>
		</form>

		<div class="table-after">
			<div class="row">
				<div class="table-after-entry">
					<select id="table-nb-entry" class="table-nb-entry unset-outline">
						<option value="5">5</option>
						<option value="10">10</option>
						<option value="15">15</option>
						<option value="20">20</option>
						<option value="25">25</option>
					</select>
				</div>
				<div class="table-nb-functions">
					<span class="table-after-delete" data-title="Delete" data-toggle="modal" data-target="#delete">
					<img src="{{asset('build/icon-delete.png')}}" title="Supprimer" alt="Icon suppression">
				</span>
					<span class="table-after-export">
					<img src="{{asset('build/icon-export.png')}}" title="Exporter" alt="Icon exportation">
				</span>
				<span class="table-after-import">
					<img src="{{asset('build/icon-import.png')}}" title="Importer" alt="Icon importation">
				</span>
				</div>
				<div class="table-after-pagination">
					<ul class="pagination pagination-lg pager" id="myPager"></ul>
				</div>
				<div class="table-after-btn-add">
					<button class="btn add-button"><a href="{{ path('newCompany') }}">AJOUTER</a></button>
				</div>
			</div>
		</div>
	{% endblock %}
</div>
{% endblock %}