{% extends "layout.html.twig" %}

{% block title %}
    {{ parent() }} - Ajouter une entreprise
{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    {{ encore_entry_link_tags('tabs') }}
    <!-- <link rel="stylesheet" href="/build/tabs.css"> Autre façon d'appler le fichier css -->
{% endblock %}

{# {% block contentSearch %}
{% endblock %} #}

{% block h1 %}Entreprises{% endblock %}

{% block contentBody %}

    <section>
        <h5 class="font-weight-bold">Saisie d'une nouvelle entreprise</h5>
    </section>
    <div class="tabset mw-100">
        <!-- Tab 1 -->
        <input type="radio" name="tabset" id="tab1" aria-controls="identite" checked>
        <label for="tab1" class="onglets">Identité</label>

        <div class="tab-panels">
            <section id="identity" class="tab-panel">
                {{ form_start(form, {'method': 'POST'}, {'attr': {'novalidate': 'novalidate'}}) }}
                <div class="file-field">
                    <div class="mb-4">
                        <img src="{{ asset('build/Photo.png') }}" class="rounded-circle avatar-pic" title="Photo" alt="Photo de profil">
                    </div>
                    <div>
                        <div class="btn btn-mdb-color btn-file float-left waves-effect waves-light">
                            <span><i class="fas fa-sync-alt"></i>PHOTO</span>
                            {{ form_widget(form.CompanyLogo) }}
                        </div>
                        {{ form_errors(form.CompanyLogo, {'attr': {'class': 'form-error-message'}}) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 mx-auto form-left">
                        <div class="row my-form-field">
                            <div class="col-lg-4 mx-auto">
                                {{ form_label(form.idUser, 'Compte suivi par', {'label_attr': {'class': 'my-form-label'}}) }}
                            </div>
                            <div class="col-lg-7 mx-auto mandatory-white">
                                {{ form_widget(form.idUser, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.idUser, {'attr': {'class': 'form-error-message'}}) }}
                            </div>
                            <div class="col-lg-1 mx-auto pl-0"></div>
                        </div>
                        <div class="row my-form-field">
                            <div class="col-lg-4 mx-auto">
                                {{ form_label(form.CompanyCode, null, {'label_attr': {'class': 'my-form-label'}}) }}
                            </div>
                            <div class="col-lg-7 mx-auto mandatory">
                                {{ form_widget(form.CompanyCode, {'attr': {'class': 'form-control w-50', 'placeholder': "1254789"}}) }}
                                {{ form_errors(form.CompanyCode, {'attr': {'class': 'form-error-message'}}) }}
                            </div>
                            <div class="col-lg-1 mx-auto pl-0"></div>
                        </div>
                        <div class="row my-form-field">
                            <div class="col-lg-4 mx-auto">
                                {{ form_label(form.CompanyLastName) }}
                            </div>
                            <div class="col-lg-7 mx-auto mandatory">
                                {{ form_widget(form.CompanyLastName, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.CompanyLastName, {'attr': {'class': 'form-error-message'}}) }}
                            </div>
                            <div class="col-lg-1 mx-auto pl-0"></div>
                        </div>
                        <div class="row my-form-field">
                            <div class="col-lg-4 mx-auto">
                                {{ form_label(form.idCompanyStatus, null, {'label_attr': {'class': 'my-form-label'}}) }}
                            </div>
                            <div class="col-lg-7 mx-auto mandatory">
                                {{ form_widget(form.idCompanyStatus, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.idCompanyStatus, {'attr': {'class': 'form-error-message'}}) }}
                            </div>
                            <div class="col-lg-1 mx-auto pl-0"></div>
                        </div>
                        <div class="row my-form-field">
                            <div class="col-lg-4 mx-auto">
                                {{ form_label(form.idCompanyCodeNAF, null, {'label_attr': {'class': 'my-form-label'}}) }}
                            </div>
                            <div class="col-lg-7 mx-auto mandatory-white">
                                {{ form_widget(form.idCompanyCodeNAF, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.idCompanyCodeNAF, {'attr': {'class': 'form-error-message'}}) }}
                            </div>
                            <div class="col-lg-1 mx-auto pl-0"></div>
                        </div>
                        <div class="row my-form-field">
                            <div class="col-lg-4 mx-auto">
                                {{ form_label(form.idCompanyLegalStatus, null, {'label_attr': {'class': 'my-form-label'}}) }}
                            </div>
                            <div class="col-lg-7 mx-auto mandatory-white">
                                {{ form_widget(form.idCompanyLegalStatus, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.idCompanyLegalStatus, {'attr': {'class': 'form-error-message'}}) }}
                            </div>
                            <div class="col-lg-1 mx-auto pl-0"></div>
                        </div>
                        <div class="row my-form-field">
                            <div class="col-lg-4 mx-auto">
                                {{ form_label(form.CompanySiret, null, {'label_attr': {'class': 'my-form-label'}}) }}
                            </div>
                            <div class="col-lg-7 mx-auto mandatory-white">
                                {{ form_widget(form.CompanySiret, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            {% if form.CompanySiret.vars.errors|length > 0 %}
                                <div class="col-lg-1 mx-auto pl-0">
                                    <button type="button" style="padding: 3px 6px;" class="btn btn-danger rounded-circle" data-title="Erreur de saisie" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="top" data-content="
                                    {% for error in form.CompanySiret.vars.errors %}
                                        -{{ error.messagePluralization is null
                                    ? error.messageTemplate|trans(error.messageParameters, 'validators')
                                    : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
                                    }}<br>
                                    {% endfor %}
                                    "><i class="fas fa-exclamation-circle"></i>
                                    </button>
                                </div>
                            {% else %}
                                <div class="col-lg-1 mx-auto pl-0"></div>
                            {% endif %}
                        </div>
                        <div class="row my-form-field">
                            <div class="col-lg-4 mx-auto">
                                {{ form_label(form.idCompanyNbEmployee, null,{'label_attr': {'class': 'my-form-label'}}) }}
                            </div>
                            <div class="col-lg-7 mx-auto mandatory-white">
                                {{ form_widget(form.idCompanyNbEmployee, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.idCompanyNbEmployee, {'attr': {'class': 'form-error-message'}}) }}
                            </div>
                            <div class="col-lg-1 mx-auto pl-0"></div>
                        </div>
                        <div class="row my-form-field">
                            <div class="col-lg-4 mx-auto">
                                {{ form_label(form.idCompanyTurnover, null,{'label_attr': {'class': 'my-form-label'}}) }}
                            </div>
                            <div class="col-lg-7 mx-auto mandatory-white">
                                {{ form_widget(form.idCompanyTurnover, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.idCompanyTurnover, {'attr': {'class': 'form-error-message'}}) }}
                            </div>
                            <div class="col-lg-1 mx-auto pl-0"></div>
                        </div>
                    </div>
                    <div class="col-lg-6 mx-auto form-right">
                        <div class="row my-form-field">
                            <div class="col-lg-4 mx-auto">
                                {{ form_label(form.CompanyEmail, null, {'label_attr': {'class': 'my-form-label'}}) }}
                            </div>
                            <div class="col-lg-7 mx-auto">
                                {{ form_widget(form.CompanyEmail, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            {% if form.CompanyEmail.vars.errors|length > 0 %}
                                <div class="col-lg-1 mx-auto pl-0">
                                    <button type="button" style="padding: 3px 6px;" class="btn btn-danger rounded-circle" data-title="Erreur de saisie" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="top" data-content="
                                    {% for error in form.CompanyEmail.vars.errors %}
                                        -{{ error.messagePluralization is null
                                    ? error.messageTemplate|trans(error.messageParameters, 'validators')
                                    : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
                                    }}<br>
                                    {% endfor %}
                                    "><i class="fas fa-exclamation-circle"></i>
                                    </button>
                                </div>
                            {% else %}
                                <div class="col-lg-1 mx-auto pl-0"></div>
                            {% endif %}
                        </div>
                        <div class="row my-form-field">
                            <div class="col-lg-4 mx-auto">
                                {{ form_label(form.CompanyAddress, null, {'label_attr': {'class': 'my-form-label'}}) }}
                            </div>
                            <div class="col-lg-7 mx-auto">
                                {{ form_widget(form.CompanyAddress, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.CompanyAddress, {'attr': {'class': 'form-error-message'}}) }}
                            </div>
                            <div class="col-lg-1 mx-auto pl-0"></div>
                            {#<i class="fas fa-map-marker-alt fa-opacity"></i>#}
                        </div>
                        <div class="row my-form-field">
                            <div class="col-lg-4 mx-auto">
                                {{ form_label(form.CompanyPostalCode, null, {'label_attr': {'class': 'my-form-label'}}) }}
                            </div>
                            <div class="col-lg-7 mx-auto">
                                {{ form_widget(form.CompanyPostalCode, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            {% if form.CompanyPostalCode.vars.errors|length > 0 %}
                                <div class="col-lg-1 mx-auto pl-0">
                                    <button type="button" style="padding: 3px 6px;" class="btn btn-danger rounded-circle" data-title="Erreur de saisie" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="top" data-content="
                                    {% for error in form.CompanyPostalCode.vars.errors %}
                                        -{{ error.messagePluralization is null
                                    ? error.messageTemplate|trans(error.messageParameters, 'validators')
                                    : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
                                    }}<br>
                                    {% endfor %}
                                    "><i class="fas fa-exclamation-circle"></i>
                                    </button>
                                </div>
                            {% else %}
                                <div class="col-lg-1 mx-auto pl-0"></div>
                            {% endif %}
                        </div>
                        <div class="row my-form-field">
                            <div class="col-lg-4 mx-auto">
                                {{ form_label(form.CompanyCity, null, {'label_attr': {'class': 'my-form-label'}}) }}
                            </div>
                            <div class="col-lg-7 mx-auto">
                                {{ form_widget(form.CompanyCity, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.CompanyCity, {'attr': {'class': 'form-error-message'}}) }}
                            </div>
                            <div class="col-lg-1 mx-auto pl-0"></div>
                        </div>
                        <div class="row my-form-field">
                            <div class="col-lg-4 mx-auto">
                                {{ form_label(form.idCompanyCountry, null,{'label_attr': {'class': 'my-form-label'}}) }}
                            </div>
                            <div class="col-lg-7 mx-auto">
                                {{ form_widget(form.idCompanyCountry, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.idCompanyCountry, {'attr': {'class': 'form-error-message'}}) }}
                            </div>
                            <div class="col-lg-1 mx-auto pl-0"></div>
                        </div>
                        <div class="row my-form-field">
                            <div class="col-lg-4 mx-auto">
                                {{ form_label(form.CompanyStandardPhone, null, {'label_attr': {'class': 'my-form-label'}}) }}
                            </div>
                            <div class="col-lg-7 mx-auto">
                                {{ form_widget(form.CompanyStandardPhone, {'attr': {'class': 'form-control input-tel'}}) }}
                            </div>
                            {% if form.CompanyStandardPhone.vars.errors|length > 0 %}
                                <div class="col-lg-1 mx-auto pl-0">
                                    <button type="button" style="padding: 3px 6px;" class="btn btn-danger rounded-circle" data-title="Erreur de saisie" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="top" data-content="
                                    {% for error in form.CompanyStandardPhone.vars.errors %}
                                        -{{ error.messagePluralization is null
                                    ? error.messageTemplate|trans(error.messageParameters, 'validators')
                                    : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
                                    }}<br>
                                    {% endfor %}
                                    "><i class="fas fa-exclamation-circle"></i>
                                    </button>
                                </div>
                            {% else %}
                                <div class="col-lg-1 mx-auto pl-0"></div>
                            {% endif %}
                        </div>
                        <div class="row my-form-field">
                            <div class="col-lg-4 mx-auto">
                                {{ form_label(form.CompanyFax, null, {'label_attr': {'class': 'my-form-label'}}) }}
                            </div>
                            <div class="col-lg-7 mx-auto">
                                {{ form_widget(form.CompanyFax, {'attr': {'class': 'form-control input-fax '}}) }}
                            </div>
                            {% if form.CompanyFax.vars.errors|length > 0 %}
                                <div class="col-lg-1 mx-auto pl-0">
                                    <button type="button" style="padding: 3px 6px;" class="btn btn-danger rounded-circle" data-title="Erreur de saisie" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="top" data-content="
                                    {% for error in form.CompanyFax.vars.errors %}
                                        -{{ error.messagePluralization is null
                                            ? error.messageTemplate|trans(error.messageParameters, 'validators')
                                            : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
                                            }}<br>
                                    {% endfor %}
                                    "><i class="fas fa-exclamation-circle"></i>
                                    </button>
                                </div>
                            {% else %}
                                <div class="col-lg-1 mx-auto pl-0"></div>
                            {% endif %}
                        </div>
                        <div class="row my-form-field">
                            <div class="col-lg-4 mx-auto">
                                {{ form_label(form.CompanyWebSite, null, {'label_attr': {'class': 'my-form-label'}}) }}
                            </div>
                            <div class="col-lg-7 mx-auto">
                                {{ form_widget(form.CompanyWebSite, {'attr': {'class': 'form-control input-web'}}) }}
                            </div>
                            {% if form.CompanyWebSite.vars.errors|length > 0 %}
                                <div class="col-lg-1 mx-auto pl-0">
                                    <button type="button" style="padding: 3px 6px;" class="btn btn-danger rounded-circle" data-title="Erreur de saisie" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="top" data-content="
                                {% for error in form.CompanyWebSite.vars.errors %}
                                    -{{ error.messagePluralization is null
                                    ? error.messageTemplate|trans(error.messageParameters, 'validators')
                                    : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
                                    }}<br>
                                {% endfor %}
                                "><i class="fas fa-exclamation-circle"></i>
                                    </button>
                                </div>
                            {% else %}
                                <div class="col-lg-1 mx-auto pl-0"></div>
                            {% endif %}
                        </div>
                        <div class="row my-form-field">
                            <div class="col-lg-4 mx-auto">
                                {{ form_label(form.CompanyComments, null, {'label_attr': {'class': 'my-form-label'}}) }}
                            </div>
                            <div class="col-lg-7 mx-auto">
                                {{ form_widget(form.CompanyComments, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.CompanyComments, {'attr': {'class': 'form-error-message'}}) }}
                            </div>
                            <div class="col-lg-1 mx-auto pl-0"></div>
                        </div>
                    </div>
                </div>

                <br><br><br><br>
                <div class="row form-buttons mb-0">
                    <button class="btn btn-white-red return-button" type="button">
                        <a href="{{ path('listCompany') }}">ANNULER</a>
                    </button>
                    {{ form_widget(form.save, { 'label': 'AJOUTER', 'attr': {'class': 'btn btn-red submit-button'}}) }}
                    {{ form_end(form) }}
                </div>
            </section>
        </div>
    </div>
{% endblock %}