<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Hafa - Smartleads {% endblock %}</title>
        {% block stylesheet %}
        {# On charge le CSS de bootstrap depuis le site directement #}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <div id="header" class="jumbotron">
                <h2>Hafa - Smartleads</h2>
                <p>
                	<a class="btn btn-primary btn-lg" href="https://symfony.com/" target="_blank">Accéder au site de Symfony</a>
                    <a class="btn btn-success btn-lg" href="{{ path('login') }}"><i class="glyphicon glyphicon-user"></i> Se connecter</a>
                </p>
            </div>
            <div class="row">
                <div id="menu" class="col-md-4">
                    <a class="btn btn-primary btn-lg" href="/">Accueil du projet</a>
                    <hr>
                    <h3>Entreprises</h3>
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="/admin/company/list">Liste des entreprises</a></li>
                        <li><a href="/admin/company/new">Ajouter une entreprise</a></li>
                        <hr>
                        <li><a href="/admin/company/country/list">Listes des pays</a></li>
                        <li><a href="/admin/company/country/new">Ajouter un pays</a></li>
                        <hr>
                        <li><a href="/admin/company/activity/sector/list">Liste des secteurs d'activités</a></li>
                        <li><a href="/admin/company/activity/sector/new">Ajouter un secteur d'activité</a></li>
                        <hr>
                        <li><a href="/admin/company/business/category/list">Liste des catégories d'affaires</a></li>
                        <li><a href="/admin/company/business/category/new">Ajouter une catégorie d'affaires</a></li>
                        <hr>
                        <li><a href="/admin/company/legalStatus/list">Liste des status légaux</a></li>
                        <li><a href="/admin/company/legalStatus/new">Ajouter un status légal</a></li>
                        <hr>
                        <li><a href="/admin/company/turnOver/list">Liste des chiffres d'affaires</a></li>
                        <li><a href="/admin/company/turnOver/new">Ajouter un chiffre d'affaires</a></li>
                        <hr>
                        <li><a href="/admin/company/lastTurnOver/list">Liste des derniers chiffres d'affaires</a></li>
                        <li><a href="/admin/company/lastTurnOver/new">Ajouter un chiffre d'affaires</a></li>
                        <hr>
                        <li><a href="/admin/company/NbEmployee/list">Liste de nombre d'employé</a></li>
                        <li><a href="/admin/company/NbEmployee/new">Ajouter un nombre</a></li>
                    </ul>
                    <h3>Contacts</h3>
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="/admin/contact/list">Liste des contacts</a></li>
                        <li><a href="/admin/contact/new">Ajouter un contact</a></li>
                        <hr>
                        <li><a href="/admin/contactJob/list">Liste des jobs</a></li>
                        <li><a href="/admin/contactJob/new">Ajouter un job</a></li>
                    </ul>
                    <h3>Commerciaux</h3>
                    <ul class="nav nav-pills nav-stacked">
                        {% if is_granted('ROLE_RESPONSABLE') %}
                            <li class="nav-item {% if commercialWindow is defined %}active{% endif %}">
                                <li><a href="{{ path('listCommercial') }}">Liste des commerciaux</a></li>
                                <li><a href="{{ path('newCommercial') }}">Ajouter un commercial</a></li>
                            </li>
                        {% endif %}
                    </ul>
                    <h3>Opérations</h3>
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="{{ path('listOperation') }}">Liste des opérations</a></li>
                        <li><a href="{{ path('newOperation') }}">Ajouter une opération</a></li>
                        <hr>
                        <li><a href="{{ path('listOperationTypeOperation') }}">Liste des types d'opérations</a></li>
                        <li><a href="{{ path('newOperationTypeOperation') }}">Ajouter un type d'opération</a></li>
                    </ul>
                    <h3>Paramètres</h3>
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="{{ path('listParameter') }}">Liste des paramètres</a></li>
                        <li><a href="{{ path('newParameter') }}">Ajouter un paramètre</a></li>
                        <hr>
                        <li><a href="{{ path('listParameterGraphicStyle') }}">Liste des styles graphiques</a></li>
                        <li><a href="{{ path('newParameterGraphicStyle') }}">Ajouter un style graphique</a></li>
                        <hr>
                        <li><a href="{{ path('listParameterBehavior') }}">Liste des comportements</a></li>
                        <li><a href="{{ path('newParameterBehavior') }}">Ajouter un comportement</a></li>
                        <hr>
                        <li><a href="{{ path('listParamTypeSite') }}">Liste des types de sites</a></li>
                        <li><a href="{{ path('newParameterTypeSite') }}">Ajouter un type de site</a></li>
                        <hr>
                        <li><a href="{{ path('listParamObject') }}">Liste des objets</a></li>
                        <li><a href="{{ path('newParameterObject') }}">Ajouter un objet</a></li>
                        <hr>
                        <li><a href="{{ path('ListParamTarget') }}">Liste des cibles</a></li>
                        <li><a href="{{ path('newParameterTarget') }}">Ajouter une cible</a></li>
                    </ul> 
                </div>
                <ul class="navbar-nav ml-auto">
                    {% if is_granted('ROLE_COMMERCIAL') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('logout')}}">Déconnexion</a>
                        </li>
                    {% else %}
                        <li class="nav-item {% if mainNavLogin is defined %}active{% endif %}">
                            <a class="nav-link" href="{{path('login')}}">Connexion</a>
                        </li>
                    {% endif %}
                </ul>
                <div id="content" class="col-md-8">
                    {% block body %} {% endblock %}
                </div>
            </div>
            <hr>
            <footer></footer>
        </div>
        {% block javascript %}
            {# lignes JavaScript permettant d'utiliser des fonctionnalités du bootstrap Twitter #}
            <script src="//ajax.gooleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>
