<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% block title %}Hafa - Smartleads{% endblock %}</title>
        {% block stylesheet %}
        <!-- Bootstrap -->
        <link href="https://stackpath.b<<ootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

        <!-- Datatable -->
        <!--<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">-->

        {{ encore_entry_link_tags('myTemplate') }}
        <!-- <link rel="stylesheet" href="/build/myTemplate.css"> Autre façon d'appler le fichier css -->

        {{ encore_entry_link_tags('sortable') }}
        <!-- <link rel="stylesheet" href="/build/sortable.css"> Autre façon d'appler le fichier css -->

        {{ encore_entry_link_tags('app') }}
        <!-- <link rel="stylesheet" href="/build/app.css"> Autre façon d'appler le fichier css -->

        {{ encore_entry_link_tags('company') }}
        {% endblock %}
    </head>

    <body id="page-top">
        <!-- Page Wrapper -->
        <div id="wrapper">
            <!-- Sidebar -->
            <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
                <!-- Sidebar - Brand -->
                <div class="sidebar-brand d-flex align-items-center justify-content-center shadow">
                    <a href="{{ path('index') }}">
                        <!-- <div class="sidebar-brand-icon rotate-n-15">
                            <i class="fas fa-laugh-wink"></i>
                        </div> -->
                        <div class="sidebar-brand-text mx-3">
                            <img src="{{asset('build/logo.png')}}" title="my image" alt="My image">
                        </div>
                    </a>
                    <!-- Sidebar Toggler (Sidebar) -->
                    <div class="text-center d-none d-md-inline">
                        <span id="sidebarToggle"></span>
                    </div>
                </div>

                <!-- Nav Item - Tableau de bord -->
                <li class="nav-item {% if dashBordLink is defined %}active{% endif %}">
                    <a class="nav-link" href="{{ path('index') }}">
                    <img src="{{asset('build/icon-dashbord.png')}}" title="Tableau de bord" alt="Icon du dashbord">
                    <span>Tableau de bord</span></a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider">

                {% if is_granted('ROLE_RESPONSABLE') %}
                <!-- Nav Item - Contacts -->
                <li class="nav-item {% if contactTeamLink is defined %}active{% endif %}">
                    <a class="nav-link" href="{{ path('listCont') }}">
                    <img src="{{asset('build/icon-contact.png')}}" title="Contacts" alt="Icon des contacts">
                    <span>Contacts</span></a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider">
                {% endif %}

                {% if is_granted('ROLE_DIRECTEUR') %}
                <!-- Nav Item - Entreprises -->
                <li class="nav-item {% if companyLink is defined %}active{% endif %}">
                    <a class="nav-link" href="{{ path('listCompany') }}">
                        <img src="{{asset('build/icon-company.png')}}" title="Entreprises" alt="Icon des entreprises">
                        <span>Entreprises</span></a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider">
                {% endif %}

                {% if is_granted('ROLE_RESPONSABLE') %}
                <!-- Nav Item - Equipe commerciale -->
                <li class="nav-item {% if commercialTeamLink is defined %}active{% endif %}">
                    <a class="nav-link" href="{{ path('listCommercial') }}">
                    <img src="{{asset('build/icon-commercial.png')}}" title="Equipe commerciale" alt="Icon des commerciaux">
                    <span>Equipe commerciale</span></a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider">
                {% endif %}

                <!-- Nav Item - Opération -->
                <li class="nav-item {% if operationLink is defined %}active{% endif %}">
                    <a class="nav-link" href="{{ path('operations_index') }}">
                    <img src="{{asset('build/icon-operations.png')}}" title="Opérations" alt="Icon des opérations">
                    <span>Opérations</span></a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider">

                <!-- Nav Item - Paramètres -->
                <li class="nav-item {% if parameterLink is defined %}active{% endif %}">
                    <a class="nav-link" href="#">
                    <img src="{{asset('build/icon-parameter.png')}}" title="Paramètres" alt="Icon des paramètres">
                    <span>Paramètres</span></a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider d-none d-md-block">
            </ul>
            <!-- End of Sidebar -->

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">
                <!-- Main Content -->
                <div id="content">
                    <!-- Topbar -->
                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                        <!-- Sidebar Toggle (Topbar) -->
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>

                        <!-- Topbar Search -->
                        <div class="global-search-filter-container">
                            <span class="global-search-filter-logo"><i class="fas fa-search"></i></span>
                            <input class="global-search-filter" id="global-search-filter" type="text" placeholder="Rechercher...">
                        </div>

                        <!-- Topbar Navbar -->
                        <ul class="navbar-nav ml-auto">
                            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                            <li class="nav-item dropdown no-arrow d-sm-none">
                                <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-search fa-fw"></i>
                                </a>
                                <!-- Dropdown - Messages -->
                                <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                                    <form class="form-inline mr-auto w-100 navbar-search">
                                        <div class="input-group">
                                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                            <div class="input-group-append">
                                                <button class="btn btn-primary" type="button">
                                                    <i class="fas fa-search fa-sm"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </li>

                            <!-- <div class="topbar-divider d-none d-sm-block"></div> -->

                            <!-- Nav Item - User Information -->
                            <li class="nav-item dropdown no-arrow profile">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <!-- <span class="mr-2 d-none d-lg-inline text-gray-600 small">Valerie Luna</span> -->
                                    {% if app.user.CommercialPhoto is not null %}
                                    <img src="{{asset('build/images/' ~ app.user.CommercialPhoto)}}" class="img-profile rounded-circle" title="Photo" alt="Photo de profil">
                                    {% else %}
                                    <img src="{{asset('build/Photo.png')}}" class="img-profile rounded-circle" title="Photo" alt="Photo de profil">
                                    {% endif %}
                                </a>
                                <!-- Dropdown - User Information -->
                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in user" aria-labelledby="userDropdown">
                                    <span>{{ app.user.CommercialFirstName }} {{ app.user.CommercialName }}</span>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{{ path('settingsCommercial', {'id':app.user.Id}) }}">
                                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Profil
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Déconnexion
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </nav>
                    <!-- End of Topbar -->

                    <!-- Begin Page Content -->
                    <div class="container-fluid">
                        {% block contentPage %}
                        {% endblock %}
                    </div>
                    <!-- End of Page Content -->
                </div>
                <!-- End of Main Content -->
            </div>
            <!-- End of Content Wrapper -->
        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Etes-vous sûr ?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Si oui, cliquez sur "Déconnexion" sinon, cliquez sur "Annuler"
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-white-red return-button" type="button" data-dismiss="modal">
                            Annuler
                        </button>
                        <a class="btn btn-red submit-button" href="{{path('logout')}}">Déconnexion</a>
                    </div>
                </div>
            </div>
        </div>

        {% block javascript %}
            <!-- Bootstrap core JavaScript-->
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
            
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>

            <!-- Core plugin JavaScript-->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>

            <!--<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>-->

            <script src="https://rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js"></script>

            {{ encore_entry_script_tags('app') }}
            <!-- <script src="/build/app.js"></script> Autre façon d'appler le fichier js -->
            {{ encore_entry_script_tags('myTemplate') }}

            <!-- <script src="/build/myTemplate.js"></script> Autre façon d'appler le fichier js -->
            {{ encore_entry_script_tags('sortable') }}
            <!-- <link rel="stylesheet" href="/build/sortable.js"> Autre façon d'appler le fichier js -->
            <!--<script src="/build/runtime.js"></script>-->

        {% endblock %}
        </body>
</html>
