{% extends "layout.html.twig" %}

{% block title %}
	{{parent()}} - Modification d'un chiffre d'affaire
{% endblock %}

{% block gsbobjcom_body %}
	<h2>Modification du chiffre d'affaire numéro {{turnOver.id}}</h2>
	{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
	{{ form_widget(form) }}
	{{ form_end(form) }}

	<a href="/company/lastTurnOver/list">Annulation de la modification : Retour aux chiffres d'affaires</a>
{% endblock %}